@if (unitPlan) {
    <div style="padding-top: 16px;">
        <table style="border-collapse: collapse; border: 1px solid #ccc; table-layout: fixed;">
            @if (!isPrintView) {
                <caption class="text-center bold">{{unitPlan.title}}</caption>
            }
            <tbody>
                <tr>
                    <td style="width: calc(100% / 6);"><b>Centro Educativo</b></td>
                    <td colspan="5">{{unitPlan.section.school.name}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 33.33%;"><b>Docente</b>: {{unitPlan.user.title}}. {{unitPlan.user.firstname}} {{unitPlan.user.lastname}}</td>
                    <td colspan="2" style="width: 33.33%;"><b>Grado y Secci&oacute;n</b>: {{unitPlan.section.name}}</td>
                    <td colspan="2" style="width: 33.33%;"><b>Tiempo Asignado</b>: {{unitPlan.duration}} Semana{{unitPlan.duration > 1 ? 's' : ''}}</td>
                </tr>
                <tr>
                    <td><b>Situaci&oacute;n de Aprendizaje</b></td>
                    <td colspan="5">{{unitPlan.learningSituation}}</td>
                </tr>
                @if (unitPlan.section.level == 'PRIMARIA') {
                <tr>
                    <td colspan="6" class="text-center"><b>Competencias Fundamentales</b></td>
                </tr>
                <tr>
                    <td class="text-center" colspan="2">
                        Comunicativa
                    </td>
                    <td class="text-center" colspan="2">
                        Pensamiento Lógico, Creativo y Crítico; Resolución de Problemas; Tecnológica y Científica
                    </td>
                    <td class="text-center" colspan="2">
                        Ética y Ciudadana; Desarrollo Personal y Espiritual; Ambiental y de la Salud
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="bold text-center">Competencias Específicas del Grado</td>
                </tr>
                <tr>
                    <td colspan="2">
                        @for (comp of unitPlan.competence; track comp._id) {
                            @if (comp.name == 'Comunicativa') {
                                <p class="bold" [style]="$index == 0 ? '' : 'margin-top: 12px;'">{{pretifySubject(comp.subject)}}</p>
                                <ul style="margin: 0; padding: 0; list-style: none;">
                                    @for (el of comp.entries; track el) {
                                        <li>- {{ el }}</li>
                                    }
                                </ul>
                            }
                        }
                    </td>
                    <td colspan="2">
                        @for (comp of unitPlan.competence; track comp._id) {
                            @if (comp.name == 'Pensamiento Lógico, Creativo y Crítico; Resolución de Problemas; Tecnológica y Científica') {
                                <p class="bold" [style]="$index == 0 ? '' : 'margin-top: 12px;'">{{pretifySubject(comp.subject)}}</p>
                                <ul style="margin: 0 0 24px; padding: 0; list-style: none;">
                                    @for (el of comp.entries; track el) {
                                        <li>- {{ el }}</li>
                                    }
                                </ul>
                            }
                        }
                    </td>
                    <td colspan="2">
                        @for (comp of unitPlan.competence; track comp._id) {
                            @if (comp.name == 'Ética y Ciudadana; Desarrollo Personal y Espiritual; Ambiental y de la Salud') {
                                <p class="bold" [style]="$index == 0 ? '' : 'margin-top: 12px;'">{{pretifySubject(comp.subject)}}</p>
                                <ul style="margin: 0 0 24px; padding: 0; list-style: none;">
                                    @for (el of comp.entries; track el) {
                                        <li>- {{ el }}</li>
                                    }
                                </ul>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="bold text-center">Criterios de Evaluaci&oacute;n</td>
                </tr>
                <tr>
                    <td colspan="2">
                        @for (row of unitPlan.competence; track $index) {
                            @if (row.name == 'Comunicativa') {
                                <h4 class="bold" [style]="$index == 0 ? '' : 'margin-top: 12px;'">{{pretifySubject(row.subject)}}</h4>
                                <ul style="margin: 0; padding: 0; list-style: none;">
                                    @for (criterion of row.criteria; track criterion) {
                                        @if (criterion) {
                                            <li>- {{criterion}}</li>
                                        }
                                    }
                                </ul>
                            }
                        }
                    </td>
                    <td colspan="2">
                        @for (row of unitPlan.competence; track $index) {
                            @if (row.name == 'Pensamiento Lógico, Creativo y Crítico; Resolución de Problemas; Tecnológica y Científica') {
                                <h4 class="bold" [style]="$index == 0 ? '' : 'margin-top: 12px;'">{{pretifySubject(row.subject)}}</h4>
                                <ul style="margin: 0; padding: 0; list-style: none;">
                                    @for (criterion of row.criteria; track criterion) {
                                        @if (criterion) {
                                            <li>- {{criterion}}</li>
                                        }
                                    }
                                </ul>
                            }
                        }
                    </td>
                    <td colspan="2">
                        @for (row of unitPlan.competence; track $index) {
                            @if (row.name == 'Ética y Ciudadana; Desarrollo Personal y Espiritual; Ambiental y de la Salud') {
                                <h4 class="bold" [style]="$index == 0 ? '' : 'margin-top: 12px;'">{{pretifySubject(row.subject)}}</h4>
                                <ul style="margin: 0; padding: 0; list-style: none;">
                                    @for (criterion of row.criteria; track criterion) {
                                        @if (criterion) {
                                            <li>- {{criterion}}</li>
                                        }
                                    }
                                </ul>
                            }
                        }
                    </td>
                </tr>
                } @else {
                <tr>
                    <td colspan="2">Competencias Fundamentales</td>
                    <td colspan="4">Competencias Específicas del Grado</td>
                </tr>
                @for (comp of unitPlan.competence; track comp._id) {
                <tr>
                    <td colspan="2">{{comp.name}}</td>
                    <td colspan="4">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (el of comp.entries; track el) {
                            <li>{{ el }}</li>
                            }
                        </ul>
                    </td>
                </tr>
                }
                }
                <tr>
                    <td class="bold">Eje{{unitPlan.subjects.length == 1 ? '' : 's'}} Transversal{{unitPlan.subjects.length == 1 ? '' : 'es'}}</td>
                    <td colspan="5">
                        @for (theme of unitPlan.mainThemes; track $index) {
                            <h4 [style]="$index == 0 ? '' : 'margin-top: 12px;'" class="bold">{{pretifySubject(theme.subject)}}:</h4>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (topic of theme.topics; track topic) {
                                    <li>- {{topic}}</li>
                                }
                            </ul>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="bold">&Aacute;rea{{unitPlan.subjects.length == 1 ? '' : 's'}} Curricular{{unitPlan.subjects.length == 1 ? '' : 'es'}}</td>
                    <td colspan="5">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (subject of unitPlan.subjects; track subject) {
                            <li>{{pretifySubject(subject)}}</li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="bold">Estrategias de Ense&ntilde;anza y Aprendizaje</td>
                    <td colspan="5">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (strategy of removeDuplicates(unitPlan.strategies); track strategy) {
                            <li>- {{strategy}}</li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="bold">Indicadores de Logro</td>
                    <td colspan="5">
                        @for (content of unitPlan.contents; track content._id) {
                            <p><b>{{pretifySubject(content.subject)}}</b></p>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (indicator of content.achievement_indicators; track $index) {
                                    <li>- {{indicator}}</li>
                                }
                            </ul>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="bold text-center" colspan="6">Contenidos</td>
                </tr>
                <tr>
                    <td class="bold text-center" colspan="2">Conceptuales</td>
                    <td class="bold text-center" colspan="2">Procedimentales</td>
                    <td class="bold text-center" colspan="2">Actitudinales</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (block of unitPlan.contents; track block) {
                            @if (unitPlan.contents.length == 1) {
                            @for (content of block.concepts; track content) {
                            <li>- {{content}}</li>
                            }
                            } @else {
                            <li><b>{{pretifySubject(block.subject)}}</b></li>
                            <ul>
                                @for (content of block.concepts; track content) {
                                <li>{{content}}</li>
                                }
                            </ul>
                            }
                            }
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (block of unitPlan.contents; track block) {
                            @if (unitPlan.contents.length == 1) {
                            @for (content of block.procedures; track content) {
                            <li>- {{content}}</li>
                            }
                            } @else {
                            <li><b>{{pretifySubject(block.subject)}}</b></li>
                            <ul>
                                @for (content of block.procedures; track content) {
                                <li>{{content}}</li>
                                }
                            </ul>
                            }
                            }
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (block of unitPlan.contents; track block) {
                            @if (unitPlan.contents.length == 1) {
                            @for (content of block.attitudes; track content) {
                            <li>- {{content}}</li>
                            }
                            } @else {
                            <li><b>{{pretifySubject(block.subject)}}</b></li>
                            <ul>
                                @for (content of block.attitudes; track content) {
                                <li>{{content}}</li>
                                }
                            </ul>
                            }
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="bold text-center" colspan="6">Actividades</td>
                </tr>
                <tr>
                    <td class="bold text-center" colspan="2">De Ense&ntilde;anza</td>
                    <td class="bold text-center" colspan="2">De Aprendizaje</td>
                    <td class="bold text-center" colspan="2">De Evaluaci&oacute;n</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (activityList of unitPlan.teacherActivities; track activityList) {
                                @if (activityList.activities.length == 1) {
                                        @for (activity of activityList.activities; track $index) {
                                            <li>- {{activity}}</li>
                                        }
                                } @else {
                                    <li class="bold">{{pretifySubject(activityList.subject)}}</li>
                                    <ul style="margin: 0; padding: 0; list-style: none;">
                                        @for (activity of activityList.activities; track $index) {
                                            <li>- {{ activity }}</li>
                                        }
                                    </ul>
                                }
                            }
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (activityList of unitPlan.studentActivities; track activityList) {
                                @if (activityList.activities.length == 1) {
                                        @for (activity of activityList.activities; track $index) {
                                            <li>- {{activity}}</li>
                                        }
                                } @else {
                                    <li class="bold">{{pretifySubject(activityList.subject)}}</li>
                                    <ul style="margin: 0; padding: 0; list-style: none;">
                                        @for (activity of activityList.activities; track $index) {
                                            <li>- {{ activity }}</li>
                                        }
                                    </ul>
                                }
                            }
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (activityList of unitPlan.evaluationActivities; track activityList) {
                                @if (activityList.activities.length == 1) {
                                        @for (activity of activityList.activities; track $index) {
                                            <li>- {{activity}}</li>
                                        }
                                } @else {
                                    <li class="bold">{{pretifySubject(activityList.subject)}}</li>
                                    <ul style="margin: 0; padding: 0; list-style: none;">
                                        @for (activity of activityList.activities; track $index) {
                                            <li>- {{ activity }}</li>
                                        }
                                    </ul>
                                }
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="bold text-center">T&eacute;cnicas e Instrumentos de Evaluaci&oacute;n</td>
                    <td colspan="3" class="bold text-center">Medios y Recursos</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (instrument of unitPlan.instruments; track instrument) {
                            <li>- {{instrument}}</li>
                            }
                        </ul>
                    </td>
                    <td colspan="3">
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            @for (resource of unitPlan.resources; track resource) {
                            <li>- {{resource}}</li>
                            }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}