@if (classPlan) {
  <div class="shadow">
    <div class="page" id="class-plan">
      <table style="border-collapse: collapse; border: 1px solid gray; background-color: white; width: 100%;">
        <thead>
          <tr>
            <td style="width: 160px;"><b>Fecha</b>: {{classPlan.date | date : 'dd/MM/YYYY' : 'UTC+4'}}</td>
            <td style="width: 280px;"><b>Grado y Sección</b>: {{section?.name || classPlan.section.name}}</td>
            <td><b>Docente</b>: {{user?.title}}. {{user?.firstname}} {{user?.lastname}}</td>
            <td colspan="2"><b>Área Curricular</b>: {{pretify(classPlan.subject || '')}}</td>
          </tr>
          <tr>
            <td colspan="5"><b>Estrategias y técnicas de enseñanza-aprendizaje</b>: {{classPlan.strategies.join(', ')}}
            </td>
          </tr>
          <tr>
            <td colspan="5"><b>Intencion Pedag&oacute;gica</b>: {{classPlan.objective}}</td>
          </tr>
          <tr>
            <th>Momento / Duración</th>
            <th style="width: 18%;">Competencias Especificas</th>
            <th>Actividades</th>
            <th style="width: 18%;">Organización de los Estudiantes</th>
            <th style="width: 15%;">Recursos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Inicio</b> ({{classPlan.introduction.duration}} Minutos)</td>
            <td rowspan="4">{{classPlan.competence}}</td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (actividad of classPlan.introduction.activities; track actividad) {
                <li>{{actividad}}</li>
                }
              </ul>
            </td>
            <td>
              {{classPlan.introduction.layout}}
            </td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (recurso of classPlan.introduction.resources; track recurso) {
                <li>- {{recurso}}</li>
                }
              </ul>
            </td>
          </tr>
          <tr>
            <td><b>Desarrollo</b> ({{classPlan.main.duration}} Minutos)</td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (actividad of classPlan.main.activities; track actividad) {
                <li>{{actividad}}</li>
                }
              </ul>
            </td>
            <td>
              {{classPlan.main.layout}}
            </td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (recurso of classPlan.main.resources; track recurso) {
                <li>- {{recurso}}</li>
                }
              </ul>
            </td>
          </tr>
          <tr>
            <td><b>Cierre</b> ({{classPlan.closing.duration}} Minutos)</td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (actividad of classPlan.closing.activities; track actividad) {
                <li>{{actividad}}</li>
                }
              </ul>
            </td>
            <td>
              {{classPlan.closing.layout}}
            </td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (recurso of classPlan.closing.resources; track recurso) {
                <li>- {{recurso}}</li>
                }
              </ul>
            </td>
          </tr>
          <tr>
            <td><b>Actividades Complementarias</b></td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (actividad of classPlan.supplementary.activities; track actividad) {
                <li>{{actividad}}</li>
                }
              </ul>
            </td>
            <td>
              {{classPlan.supplementary.layout}}
            </td>
            <td>
              <ul style="margin: 0; padding: 0; list-style: none;">
                @for (recurso of classPlan.supplementary.resources; track recurso) {
                <li>- {{recurso}}</li>
                }
              </ul>
            </td>
          </tr>
          <tr>
            <td colspan="5"><b>Vocabulario del día/de la semana</b>: {{classPlan.vocabulary.join(', ')}}</td>
          </tr>
          <tr>
            <td colspan="5"><b>Lecturas recomendadas/ o libro de la semana</b>: {{classPlan.readings}}</td>
          </tr>
          <tr>
            <td colspan="5"><b>Observaciones</b>:</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
}
