<app-is-premium>
    @if (working) {
        <mat-card>
            <mat-card-header class="header">
                <h2 class="title" mat-card-ittle>Generador de Unidades de Aprendizaje</h2>
                <button class="title-button" mat-flat-button [routerLink]="['/unit-plans', 'list']" color="accent">Ver mis Planes</button>
            </mat-card-header>
            <mat-card-content>
                <mat-stepper linear #stepper>
                    <mat-step [stepControl]="learningSituationForm">
                        <form [formGroup]="learningSituationForm" style="padding-top: 16px;">
                            <ng-template matStepLabel>Situaci&oacute;n de Aprendizaje</ng-template>
                            <div class="cols-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Eje Transversal</mat-label>
                                    <mat-select [formControl]="mainTheme" required>
                                        @for (theme of mainThemeCategories; track theme) {
                                            <mat-option [value]="theme">{{theme}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Ambiente Operativo</mat-label>
                                    <mat-select formControlName="environment" required>
                                        @for (env of environments; track $index) {
                                            <mat-option [value]="env">{{env}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Grado</mat-label>
                                    <mat-select formControlName="classSection" required>
                                        @for (section of classSections; track section._id) {
                                            <mat-option [value]="section._id">{{section.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Asignatura(s)</mat-label>
                                    <mat-select formControlName="subjects" required multiple (selectionChange)="onSubjectSelect()">
                                        @for (subject of subjects; track $index) {
                                            @if (subject.id !== 'TALLERES_OPTATIVOS') {
                                                <mat-option [value]="subject.id">{{subject.label}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            @if (learningSituationForm.value.subjects?.includes('LENGUA_ESPANOLA')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Lengua Española</mat-label>
                                    <mat-select formControlName="spanishContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'LENGUA_ESPANOLA') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('MATEMATICA')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Matemática</mat-label>
                                    <mat-select multiple formControlName="mathContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if(content.subject == 'MATEMATICA') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('CIENCIAS_SOCIALES')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Ciencias Sociales</mat-label>
                                    <mat-select formControlName="societyContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'CIENCIAS_SOCIALES') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('CIENCIAS_NATURALES')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Ciencias de la Naturaleza</mat-label>
                                    <mat-select multiple formControlName="scienceContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'CIENCIAS_NATURALES') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('INGLES')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Inglés</mat-label>
                                    <mat-select formControlName="englishContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'INGLES') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('FRANCES')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Francés</mat-label>
                                    <mat-select formControlName="frenchContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'FRANCES') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('FORMACION_HUMANA')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Formación Integral Humana y Religiosa</mat-label>
                                    <mat-select multiple formControlName="religionContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'FORMACION_HUMANA') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('EDUCACION_FISICA')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Educación Física</mat-label>
                                    <mat-select multiple formControlName="physicalEducationContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'EDUCACION_FISICA') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @if (learningSituationForm.value.subjects?.includes('EDUCACION_ARTISTICA')) {
                                <mat-form-field appearance="outline">
                                    <mat-label>Contenidos de Educación Artística</mat-label>
                                    <mat-select multiple formControlName="artisticEducationContent" required>
                                        @for (content of contentBlocks; track content._id) {
                                            @if (content.subject == 'EDUCACION_ARTISTICA') {
                                                <mat-option [value]="content._id">{{content.title}}</mat-option>
                                            }
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            <div class="flex-on-md">
                                <div style="flex: 1 1 auto;">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tipo de Situaci&oacute;n</mat-label>
                                        <mat-select formControlName="situationType" required>
                                            @for (type of situationTypes; track $index) {
                                                <mat-option [value]="type.id">{{type.label}}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                @if (learningSituationForm.value.situationType == 'realityProblem') {
                                    <div style="flex: 1 1 auto;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Problema a Abordar</mat-label>
                                            <mat-select formControlName="reality" required>
                                                @for (problem of problems; track $index) {
                                                    <mat-option [value]="problem">{{problem}}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                }
                                @if (learningSituationForm.value.situationType == 'reality') {
                                    <div style="flex: 1 1 auto;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Realidad del Curso</mat-label>
                                            <input matInput type="text" formControlName="reality" required>
                                        </mat-form-field>
                                    </div>
                                }
                            </div>
                            @if (learningSituation.value) {
                                <div style="margin-top: 16px; margin-bottom: 16px;">
                                    <h3 style="font-weight: bold;">Situaci&oacute;n de Aprendizaje: {{learningSituationTitle.value}}</h3>
                                    <mat-form-field appearance="outline">
                                        <mat-label>T&iacute;tulo</mat-label>
                                        <input type="text" matInput [formControl]="learningSituationTitle">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Situaci&oacute;n de Aprendizaje</mat-label>
                                        <textarea rows="8" [formControl]="learningSituation" matInput></textarea>
                                    </mat-form-field>
                                </div>
                            }
                            <div style="text-align: end;">
                                <button [disabled]="generating" mat-raised-button type="button" color="accent" (click)="generateLearningSituation()">
                                    @if (generating) {
                                        <span>Generando...</span>
                                    } @else {
                                        @if (learningSituation.value) {
                                            <span>Regenerar</span>
                                        } @else {
                                            <span>Generar</span>
                                        }
                                    }
                                </button>
                                @if (learningSituation.value) {
                                    <button style="margin-left: 8px;" mat-raised-button matStepperNext>Siguiente</button>
                                }
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="unitPlanForm">
                        <form [formGroup]="unitPlanForm">
                            <ng-template matStepLabel>Delimitaci&oacute;n</ng-template>
                            <div style="padding-top: 16px;">
                                <mat-form-field appearance="outline">
                                    <mat-label>Duraci&oacute;n</mat-label>
                                    <mat-select formControlName="duration" required>
                                      @for (n of [].constructor(6); track $index) {
                                        <mat-option [value]="$index + 1">{{$index + 1}} Semana{{$index > 0 ? 's' : ''}}</mat-option>
                                      }
                                    </mat-select>
                                </mat-form-field>
                                <div style="margin-bottom: 16px;">
                                    <mat-label>Recursos Disponibles</mat-label>
                                    <mat-chip-listbox formControlName="resources" multiple>
                                      @for (resource of resources; track resource) {
                                        <mat-chip-option>{{resource}}</mat-chip-option>
                                      }
                                    </mat-chip-listbox>
                                </div>
                            </div>
                            <div style="text-align: end;">
                                <button mat-raised-button matStepperPrevious>Anterior</button>
                                <button style="margin-left: 8px;" mat-raised-button (click)="generateActivities()" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="activitiesForm">
                        <ng-template matStepLabel>Secuencia Did&aacute;ctica</ng-template>
                        <div style="padding-top: 16px;">
                            @if (teacher_activities.length) {
                                <div class="flex-on-md">
                                    <div style="flex: 1 1 auto; width: 100%;">
                                        <h3>Actividades de Ense&ntilde;anza</h3>
                                        <ul style="margin: 0; padding: 0; list-style: none;">
                                            @for (list of teacher_activities; track list.subject) {
                                                @if (student_activities.length == 1) {
                                                    @for (activity of list.activities; track activity) {
                                                        <li>{{activity}}</li>
                                                    }
                                                } @else {
                                                    <h4 class="bold">{{list.subject}}</h4>
                                                    <ul>
                                                        @for (activity of list.activities; track activity) {
                                                            <li>{{activity}}</li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div style="flex: 1 1 auto; width: 100%;">
                                        <h3>Actividades de Aprendizaje</h3>
                                        <ul style="margin: 0; padding: 0; list-style: none;">
                                            @for (list of student_activities; track list.subject) {
                                                @if (student_activities.length == 1) {
                                                    @for (activity of list.activities; track activity) {
                                                        <li>{{activity}}</li>
                                                    }
                                                } @else {
                                                    <h4 class="bold">{{list.subject}}</h4>
                                                    <ul>
                                                        @for (activity of list.activities; track activity) {
                                                            <li>{{activity}}</li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div style="flex: 1 1 auto; width: 100%;">
                                        <h3>Actividades de Evaluaci&oacute;n</h3>
                                        <ul style="margin: 0; padding: 0; list-style: none;">
                                            @for (list of evaluation_activities; track list.subject) {
                                                @if (student_activities.length == 1) {
                                                    @for (activity of list.activities; track activity) {
                                                        <li>{{activity}}</li>
                                                    }
                                                } @else {
                                                    <h4 class="bold">{{list.subject}}</h4>
                                                    <ul>
                                                        @for (activity of list.activities; track activity) {
                                                            <li>{{activity}}</li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                        <div style="text-align: end;">
                            <button mat-raised-button matStepperPrevious>Anterior</button>
                            <button [disabled]="generating" style="margin-left: 8px;" mat-raised-button type="button" color="accent" (click)="generateActivities()">
                                @if (generating) {
                                    <span>Generando...</span>
                                } @else {
                                    @if (teacher_activities.length) {
                                        <span>Regenerar</span>
                                    } @else {
                                        <span>Generar</span>
                                    }
                                }
                            </button>
                            @if (teacher_activities.length) {
                                <button style="margin-left: 8px;" mat-raised-button matStepperNext (click)="fillFinalForm()">Siguiente</button>
                            }
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Finalizaci&oacute;n</ng-template>
                        <app-unit-plan [unitPlan]="plan"></app-unit-plan>
                        <div style="text-align: end; margin-top: 24px;">
                            <button mat-raised-button matStepperPrevious>Anterior</button>
                            <button style="margin-left: 8px;" mat-raised-button (click)="stepper.reset()">Reiniciar</button>
                            <button style="margin-left: 8px;" color="primary" mat-raised-button (click)="savePlan()" [disabled]="!plan" type="button">Guardar</button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </mat-card-content>
        </mat-card>
    } @else {
        <app-in-progress></app-in-progress>
    }
</app-is-premium>
