<div class="flex-wrapper">
    <mat-card class="login-card">
        <mat-card-header>
            <div style="display: flex; justify-content: center; width: 100%;">
                <h2 mat-card-title>Inicia Sesi&oacute;n</h2>
            </div>
        </mat-card-header>
        <mat-card-content>
            <img src="/assets/base.png" style="display: block; margin: 0 auto 12px; width: 96px;">
            <!-- <img src="/assets/teach.svg" class="teach-svg" alt=""> -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contrase&ntilde;a</mat-label>
                    <input type="password" matInput formControlName="password" >
                </mat-form-field>
                <div style="margin: 12px 0; display: flex; flex-direction: column; gap: 12px;">
                    <button [disabled]="loading || loginForm.invalid" mat-raised-button color="primary" type="submit">Entrar</button>
                    <a mat-flat-button color="link" [href]="apiUrl + (referrer ? '?ref=' + referrer : '')"><bi-icon icon="google"></bi-icon> Iniciar con Google</a>
                    <!-- <button mat-flat-button color="link" (click)="loginWithFacebook()" type="button"><bi-icon icon="facebook"></bi-icon> Iniciar con Facebook</button> -->
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button style="margin-left: auto; margin-right: 12px;" color="link" (click)="recoverPassword()">Recuperar Contrase&ntilde;a</button>
            <button mat-flat-button style="margin-left: auto; margin-right: 12px;" color="accent" [routerLink]="['/auth', 'signup']">Registrarme</button>
            <!-- <a mat-flat-button style="margin-right: auto;" color="accent" target="_blank" href="https://wa.me/+18094659650?text=Hola!+Quiero+solicitar+una+cuenta+de+KitMaestro.+Me+puedes+dar+más+información?">Solicitar Cuenta</a> -->
        </mat-card-actions>
    </mat-card>
</div>
