<app-is-premium>
  @if (!isPrintView) {
    <mat-card>
      <mat-card-header>
        <h2 mat-card-title style="text-align: center;">Opciones</h2>
      </mat-card-header>
      <mat-card-actions>
        <div style="display: flex; gap: 12px; justify-content: center;">
          <button mat-raised-button color="link" (click)="goBack()">Volver</button>
          <button mat-raised-button color="warn" (click)="deletePlan()">Eliminar</button>
          <button mat-raised-button color="accent" [routerLink]="['/unit-plans', planId, 'edit']">Editar</button>
          <a mat-raised-button color="primary" href="/print-unit-plan/{{planId}}" target="_blank">Imprimir</a>
          <!-- <button mat-raised-button color="primary" (click)="printPlan()">Exportar PDF</button> -->
        </div>
      </mat-card-actions>
    </mat-card>
  }

  <div [id]="isPrintView ? 'print-view-sheet' : 'plan-sheet'" *ngIf="(plan$ | async) as plan">
    @if (isPrintView) {
      <h1 style="text-align: center;">{{plan.title}}</h1>
    }
    <app-unit-plan [unitPlan]="plan" />
  </div>
</app-is-premium>
