<app-is-premium>
  @if (!isPrintView) {
    <mat-card>
      <mat-card-header>
        <h2 mat-card-title style="text-align: center;">Opciones</h2>
      </mat-card-header>
      <mat-card-actions>
        <div style="display: flex; gap: 12px; justify-content: center;">
          <button mat-raised-button color="link" (click)="goBack()">Volver</button>
          <button mat-raised-button color="warn" (click)="deletePlan()">Eliminar</button>
          <button mat-raised-button color="accent" [routerLink]="['/unit-plans', planId, 'edit']">Editar</button>
          <a mat-raised-button color="primary" href="/print-unit-plan/{{planId}}" target="_blank">Imprimir</a>
          <!-- <button mat-raised-button color="primary" (click)="printPlan()">Exportar PDF</button> -->
        </div>
      </mat-card-actions>
    </mat-card>
  }

  <div [id]="isPrintView ? 'print-view-sheet' : 'plan-sheet'" *ngIf="(plan$ | async) as plan">
    @if (isPrintView) {
      <h1 style="text-align: center;">{{plan.title}}</h1>
    }
    <table id="table" style="border-collapse: collapse; border: 1px solid #ccc;">
      @if (!isPrintView) {
        <thead>
          <tr>
            <th colspan="6">{{plan.title}}</th>
          </tr>
        </thead>
      }
      <tbody>
        <ng-container *ngIf="(userSettings$ | async) as user">
          <tr>
            <th>Centro Educativo</th>
            <td colspan="5">{{plan.section.school.name}}</td>
          </tr>
          <tr>
            <th>Docente</th>
            <td colspan="5" style="width: fit-content">{{user.title}} {{user.firstname}} {{user.lastname}}</td>
          </tr>
          <tr>
            <th>Grado y Secci&oacute;n</th>
            <td colspan="5">{{plan.section.name}}</td>
          </tr>
          <tr>
            <th>Tiempo Asignado</th>
            <td colspan="5">{{plan.duration}} Semana{{plan.duration || 1 > 0 ? 's' : ''}}</td>
          </tr>
        </ng-container>
        <tr>
          <th>Situaci&oacute;n de Aprendizaje</th>
          <td colspan="5">{{plan.learningSituation}}</td>
        </tr>
        @if (plan.level == 'PRIMARIA') {
        <tr>
          <th colspan="6">Competencias Fundamentales</th>
        </tr>
        <tr>
          <th colspan="2">Comunicativa</th>
          <th colspan="2">Pensamiento Lógico, Creativo y Crítico; Resolución de Problemas; Ciencia y Tecnología</th>
          <th colspan="2">Ética y Ciudadana; Personal y Espiritual; Ambiental y de Salud</th>
        </tr>
        <tr>
          <th colspan="6">Competencias Específicas del Grado</th>
        </tr>
        <tr>
          <td colspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (el of plan.specificCompetences.comunicativa; track el) {
              <li>{{ el }}</li>
              }
            </ul>
          </td>
          <td colspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (el of plan.specificCompetences.pensamientoLogicoCreativoYCritico; track el) {
              <li>{{ el }}</li>
              }
            </ul>
          </td>
          <td colspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (el of plan.specificCompetences.eticaYCiudadana; track el) {
              <li>{{ el }}</li>
              }
            </ul>
          </td>
        </tr>
        }
        <tr>
          <th>Eje Transversal</th>
          <td colspan="5">
            <!-- <h4>{{mainTheme.value}}:</h4> -->
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (theme of plan.mainThemes; track theme) {
              <li>- {{theme}}</li>
              }
            </ul>
          </td>
        </tr>
        <tr>
          <th>&Aacute;rea(s) Curricular(es)</th>
          <td colspan="5">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (subject of plan.subjectNames; track subject) {
              <li>{{subject}}</li>
              }
            </ul>
          </td>
        </tr>
        <tr>
          <th>Estrategias de Ense&ntilde;anza y Aprendizaje</th>
          <td colspan="5">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (strategy of plan.strategies; track strategy) {
              <li>- {{strategy}}</li>
              }
            </ul>
          </td>
        </tr>
        <tr>
          <th>Criterios de Evaluaci&oacute;n</th>
          <td colspan="5">
            @if (plan.level == 'PRIMARIA') {
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (criteria of plan.evaluationCriteria.comunicativa; track criteria) {
              @if (criteria) {
              <li>- {{criteria}}</li>
              }
              }
            </ul>
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (criteria of plan.evaluationCriteria.pensamientoLogicoCreativoYCritico; track criteria) {
              @if (criteria) {
              <li>- {{criteria}}</li>
              }
              }
            </ul>
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (criteria of plan.evaluationCriteria.eticaYCiudadana; track criteria) {
              @if (criteria) {
              <li>- {{criteria}}</li>
              }
              }
            </ul>
            }
          </td>
        </tr>
        <tr>
          <th>Indicadores de Logro</th>
          <td colspan="5">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (indicator of indicators(plan); track indicator) {
              @if (indicators.length == 1) {
              @for (achievement of indicator.achievement_indicators; track $index) {
              <li>- {{achievement}}</li>
              }
              } @else {
              <li><b>{{pretifySubject(indicator.subject)}}</b></li>
              <ul>
                @for (achievement of indicator.achievement_indicators; track $index) {
                <li>{{achievement}}</li>
                }
              </ul>
              }
              }
            </ul>
          </td>
        </tr>
        <tr>
          <th colspan="6">Contenidos</th>
        </tr>
        <tr>
          <th colspan="2">Conceptuales</th>
          <th colspan="2">Procedimentales</th>
          <th colspan="2">Actitudinales</th>
        </tr>
        <tr>
          <td colspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (block of plan.contents; track block) {
              @if (plan.contents.length == 1) {
              @for (content of block.concepts; track content) {
              <li>- {{content}}</li>
              }
              } @else {
              <li><b>{{pretifySubject(block.subject)}}</b></li>
              <ul>
                @for (content of block.concepts; track content) {
                <li>{{content}}</li>
                }
              </ul>
              }
              }
            </ul>
          </td>
          <td colspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (block of plan.contents; track block) {
              @if (plan.contents.length == 1) {
              @for (content of block.procedures; track content) {
              <li>- {{content}}</li>
              }
              } @else {
              <li><b>{{pretifySubject(block.subject)}}</b></li>
              <ul>
                @for (content of block.procedures; track content) {
                <li>{{content}}</li>
                }
              </ul>
              }
              }
            </ul>
          </td>
          <td colspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (block of plan.contents; track block) {
              @if (plan.contents.length == 1) {
              @for (content of block.attitudes; track content) {
              <li>- {{content}}</li>
              }
              } @else {
              <li><b>{{pretifySubject(block.subject)}}</b></li>
              <ul>
                @for (content of block.attitudes; track content) {
                <li>{{content}}</li>
                }
              </ul>
              }
              }
            </ul>
          </td>
        </tr>
        <tr>
          <th colspan="3">Actividades</th>
          <th colspan="2">T&eacute;cnicas e Instrumentos de Evaluaci&oacute;n</th>
          <th>Medios y Recursos</th>
        </tr>
        <tr>
          <th>De Ense&ntilde;anza</th>
          <th>De Aprendizaje</th>
          <th>De Evaluaci&oacute;n</th>
          <td rowspan="2" colspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (instrument of plan.instruments; track instrument) {
              <li>- {{instrument}}</li>
              }
            </ul>
          </td>
          <td rowspan="2">
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (resource of plan.resources; track resource) {
              <li>- {{resource}}</li>
              }
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (activity of plan.teacher_activities; track activity) {
              <li>- {{activity}}</li>
              }
            </ul>
          </td>
          <td>
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (activity of plan.student_activities; track activity) {
              <li>- {{activity}}</li>
              }
            </ul>
          </td>
          <td>
            <ul style="margin: 0; padding: 0; list-style: none;">
              @for (activity of plan.evaluation_activities; track activity) {
              <li>- {{activity}}</li>
              }
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-is-premium>
