<div>
    <mat-card>
        <mat-card-header style="align-items: center; justify-content: space-between;">
            <mat-card-title>Mis Listas de Cotejo</mat-card-title>
            <a mat-flat-button routerLink="/checklist-generator">Crear Nueva</a>
        </mat-card-header>
        <mat-card-content>
            <p>
                Las listas de cotejo o listas de control constituyen un instrumento para el registro de la evaluación, en la cual se enumeran indicadores, tareas, acciones, actitudes, valores que se espera las/los estudiantes evidencien en un proceso de aprendizaje.
            </p>
        </mat-card-content>
    </mat-card>

    @if (checklists.length) {
        <table style="margin-top: 24px;" class="table">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Asignatura</th>
                    <th>Unidad</th>
                    <th>Titulo</th>
                    <th>Actividad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (checklist of checklists; track checklist._id) {
                    <tr>
                        <td>{{checklist.section.name}}</td>
                        <td>{{checklist.contentBlock.subject | pretify}}</td>
                        <td>{{checklist.contentBlock.title}}</td>
                        <td>{{checklist.title}}</td>
                        <td>{{checklist.activity}}</td>
                        <td>
                            <div style="display: flex; gap: 12px;">
                                <button (click)="delete(checklist._id)" mat-mini-fab><mat-icon>delete</mat-icon></button>
                                <button (click)="download(checklist)" mat-mini-fab><mat-icon>download</mat-icon></button>
                                <a routerLink="/checklists/{{checklist._id}}" mat-mini-fab><mat-icon>open_in_new</mat-icon></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <mat-card style="margin-top: 24px;">
            <mat-card-content>
                <p style="padding: 24px; text-align: center;">
                    No tienes ninguna lista de cotejo todavia. Empieza por <a mat-button routerLink="/checklist-generator">crear una lista</a> ahora.
                </p>
            </mat-card-content>
        </mat-card>
    }
</div>