<mat-card>
    <mat-card-header style="align-items: center; justify-content: space-between;">
        <h2 mat-card-title>Galer&iacute;a de Recursos Did&aacute;cticos</h2>
        <button mat-fab extended color="accent" (click)="openCreateResourceDialog()"><mat-icon>upload</mat-icon>Subir un Recurso</button>
    </mat-card-header>
    <mat-card-content>
        <h3>Filtro de Recursos</h3>
        <form [formGroup]="filterForm" class="filter-form">
            <mat-form-field appearance="outline">
                <mat-label>Nivel</mat-label>
                <mat-select formControlName="level" multiple (selectionChange)="filter()">
                    <mat-option [value]="level" *ngFor="let level of levels">{{ level | pretify }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Grado(s)</mat-label>
                <mat-select multiple formControlName="grades" (selectionChange)="filter()">
                    <mat-option [value]="grade" *ngFor="let grade of grades">{{ grade | pretify }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Asignatura(s)</mat-label>
                <mat-select multiple formControlName="subjects" (selectionChange)="filter()">
                    <mat-option [value]="subject" *ngFor="let subject of subjects">{{ subject | pretify }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>

@for (resource of resources; track resource._id) {
    <div style="margin-top: 24px; margin-bottom: 24px;">
        @for (resource of resources; track resource) {
            <app-resource-card [owned]="resource.author._id == user?._id" [resource]="resource"></app-resource-card>
        }
    </div>
} @empty {
    <app-is-empty (onCreateRequest)="openCreateResourceDialog()"></app-is-empty>
}

<ng-template #error></ng-template>