.filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.resource-card-container {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px 0;
    margin: 12px auto;
    max-width: 1200px;
}