<app-is-premium>
    <mat-card>
        <mat-card-header>
            <h2 mat-card-ittle>Generador de Asistencia</h2>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="studentsForm" (ngSubmit)="onSubmit()">
                <div class="student">
                    <div style="flex: 1 1 auto;" formArrayName="students">
                        <div>
                            <mat-form-field style="min-width: calc(50% - 8px);" appearance="outline">
                                <mat-label>D&iacute;as de Clase</mat-label>
                                <input type="number" min="1" max="25" matInput [formControl]="numberOfDays">
                            </mat-form-field>
                        </div>
                        @for (student of students.controls; track $index) {
                            <div class="student" [formGroupName]="$index">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input type="text" matInput formControlName="name">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Probabilidad de Asistencia</mat-label>
                                    <input type="number" min="0" max="100" required matInput formControlName="attendanceProbability">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Probabilidad de Excusa</mat-label>
                                    <input type="number" min="0" max="100" required matInput formControlName="justifiedProbability">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Probabilidad de Llegar a Temprano</mat-label>
                                    <input type="number" min="0" max="100" required matInput formControlName="onTimeProbability">
                                </mat-form-field>
                            </div>
                        }
                    </div>
                    <div>
                        <div style="min-width: fit-content; border: 1px solid #ddd; padding: 12px; margin-bottom: 12px;">
                            <h3>Agregar Estudiantes</h3>
                            <mat-form-field style="margin-right: 16px; margin-bottom: 0;" appearance="outline">
                                <mat-label>Cantidad</mat-label>
                                <input type="number" min="1" matInput [formControl]="numberOfStudents">
                            </mat-form-field>
                            <button mat-raised-button style="display: block; width: 100%;" color="accent" type="button" (click)="addStudent()">Agregar Estudiante(s)</button>
                        </div>
                        <div style="min-width: fit-content; border: 1px solid #ddd; padding: 12px; margin-bottom: 12px;">
                            <h3>Importar Estudiantes</h3>
                            <mat-form-field style="margin-right: 16px; margin-bottom: 0;" appearance="outline">
                                <mat-label>Secci&oacute;n</mat-label>
                                <mat-select [formControl]="section">
                                    <ng-container *ngIf="(sections$ | async) as sections">
                                        <mat-option [value]="sec.id" *ngFor="let sec of sections">{{sec.name}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <button mat-raised-button style="display: block; width: 100%;" color="accent" type="button" (click)="importStudents()">Importar Estudiantes</button>
                        </div>
                    </div>
                </div>
                <div>
                    <button style="display: block; margin-left: auto;" mat-raised-button color="primary" type="submit">Generar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    
    @if (attendanceRecords.length) {
        <table mat-table class="mat-elevation-z8" style="margin-top: 24px;" [dataSource]="attendanceRecords">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            @for (col of [].constructor(numberOfDays.value); track $index) {
                <ng-container [matColumnDef]="'day-' + $index">
                    <th mat-header-cell *matHeaderCellDef> {{$index + 1}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.attendance[$index]}} </td>
                </ng-container>
            }
            
            <ng-container matColumnDef="Presente">
                <th mat-header-cell *matHeaderCellDef> Presente </th>
                <td mat-cell *matCellDef="let element"> {{ presence(element.attendance) }} </td>
            </ng-container>
            
            <ng-container matColumnDef="Tardanza">
                <th mat-header-cell *matHeaderCellDef> Tardanza </th>
                <td mat-cell *matCellDef="let element"> {{ late(element.attendance) }} </td>
            </ng-container>
            
            <ng-container matColumnDef="Ausente">
                <th mat-header-cell *matHeaderCellDef> Ausente </th>
                <td mat-cell *matCellDef="let element"> {{ unattend(element.attendance) }} </td>
            </ng-container>
            
            <ng-container matColumnDef="Excusa">
                <th mat-header-cell *matHeaderCellDef> Excusa </th>
                <td mat-cell *matCellDef="let element"> {{ letter(element.attendance) }} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    }
</app-is-premium>