.student {
    display: flex;
    gap: 16px;

    &-container {
      display: flex;
      gap: 16px;
    }

    @media screen and (max-width: 1200px) {
      &-container {
        flex-direction: column-reverse;
      }
    }
}

mat-form-field {
    width: 100%;
}


.side-panel {
  @media screen and (max-width: 1200px) {
    display: flex;
    gap: 16px;
    width: 100%;

    .panel-section {
      display: block;
      flex: 1 1 auto;
    }
  }
}
