.grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    
    @media screen and (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

mat-form-field {
    width: 100%;
}