<mat-card>
	<mat-card-header>
		<h2 mat-card-title>Tutoriales</h2>
	</mat-card-header>
	<mat-card-content>
		<div>
			<h3>Introducción a KitMaestro</h3>
			<youtube-player videoId="P2X_44cp8cU"></youtube-player>
		</div>
		<div>
			<h3>Como crear un plan diario</h3>
			<youtube-player videoId="42Tlrh2WbcY"></youtube-player>
		</div>
		<div>
			<h3>Como crear una unidad de aprendizaje</h3>
			<youtube-player videoId="TPV8mJZEsO0"></youtube-player>
		</div>
		<p>
			Recuerda que elaboramos los tutoriales tomando como referencia sus
			pedidos. No te quedes sin
			<a
				mat-raised-button
				color="link"
				href="https://wa.me/+18094659650?text=Hola!+Quiero+solicitar+un+tutorial+de+KitMaestro."
				target="_blank"
				>Solicitar tu tutorial</a
			>
			sobre el tema que m&aacute;s te interesa.
		</p>
	</mat-card-content>
</mat-card>
