.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px 24px;

    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

mat-form-field {
    width: 100%;
}

form {
    margin-top: 24px;
}