<mat-card>
	<mat-card-header style="justify-content: space-between; align-items: center;">
		<mat-card-title>Detalles del Examen</mat-card-title>
		<div style="display: flex; gap: 12px;">
			<button mat-fab extended routerLink="/tests"> <mat-icon>list</mat-icon> Ver Todo</button>
			<button mat-fab extended (click)="remove()"> <mat-icon>delete</mat-icon> Eliminar</button>
			<button mat-fab extended (click)="download()"> <mat-icon>download</mat-icon> Descargar</button>
		</div>
	</mat-card-header>
	<mat-card-content></mat-card-content>
</mat-card>

@if (test) {
	<div style="margin-top: 24px;">
		<div style="max-width: 8.5in; margin: 0 auto;">
			<mat-card>
				<mat-card-content>
					<markdown [data]="test.body"></markdown>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
}
