<h2 mat-dialog-title>Detalles de la Situaci&oacute;n</h2>

<mat-dialog-content *ngIf="!loading">
    @if (entry) {
        <div style="text-align: center;">
            <h2>Registro Anecd&oacute;tico</h2>
            <p>
                <b>Fecha</b>: {{ entry.date | date: 'dd/MM/YYYY' }}
            </p>
            <p>
                <b>Hora</b>: {{ entry.date | date: 'HH:mm a' }}
            </p>
            <p>
                <b>Estudiante(s)</b>: {{ studentNames(entry.students) }}
            </p>
            <p>
                <b>Descripción del incidente, del hecho o situación</b>: <br>
                {{ entry.description }}
            </p>
            <p>
                <b>Interpretación y comentarios</b>: <br>
                {{ entry.comments }}
            </p>
        </div>
    } @else {
        <div style="padding: 42px; text-align: center; font-size: 16px; font-family: Roboto, sans-serif; line-height: 1.5;">Registro inv&aacute;lido.</div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button style="margin-left: auto;" (click)="close()" mat-flat-button>Salir</button>
    <button style="margin-left: 12px;" (click)="closeAndEdit()" mat-flat-button color="accent">Editar</button>
</mat-dialog-actions>