<h2 mat-dialog-title>Detalles de la Situaci&oacute;n</h2>

<mat-dialog-content *ngIf="!loading">
    @if (entry) {
        <div style="text-align: center;">
            <h2>Registro Anecd&oacute;tico</h2>
            <p>
                <b>Fecha</b>: {{ timestampToDate(entry.date) | date: 'dd/MM/YYYY' }}
            </p>
            <p>
                <b>Hora</b>: {{ timestampToDate(entry.date) | date: 'HH:mm a' }}
            </p>
            <p>
                <b>Estudiante(s)</b>: {{ entry.students }}
            </p>
            <p>
                <b>Descripción del incidente, del hecho o situación</b>: <br>
                {{ entry.description }}
            </p>
            <p>
                <b>Interpretación y comentarios</b>: <br>
                {{ entry.comments }}
            </p>
        </div>
    } @else {
        <div style="padding: 42px; text-align: center; font-size: 16px; font-family: Roboto, sans-serif; line-height: 1.5;">Registro inv&aacute;lido.</div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="close()" mat-raised-button>Salir</button>
    <button (click)="closeAndEdit()" mat-raised-button color="primary">Editar</button>
</mat-dialog-actions>