<mat-card>
	<mat-card-header class="header">
		<h2 mat-card-title class="title">Mis Planes Diarios</h2>
		<button
			class="title-button"
			mat-raised-button
			color="accent"
			[routerLink]="['/class-plans']"
		>
			Crear Nuevo Plan
		</button>
	</mat-card-header>
	<mat-card-content></mat-card-content>
</mat-card>

<table
	mat-table
	[dataSource]="classPlans$"
	class="mat-elevation-z8"
	style="margin-top: 24px"
>
	<ng-container matColumnDef="section">
		<th mat-header-cell *matHeaderCellDef>Curso</th>
		<td mat-cell *matCellDef="let plan">{{ plan.section.name }}</td>
	</ng-container>

	<ng-container matColumnDef="subject">
		<th mat-header-cell *matHeaderCellDef>Asignatura</th>
		<td mat-cell *matCellDef="let plan">{{ plan.subject | pretify }}</td>
	</ng-container>

	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef>Fecha</th>
		<td mat-cell *matCellDef="let plan">
			{{ plan.date ? (plan.date | date: "dd/MM/yyyy" : "+0400") : "N/A" }}
		</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>Acciones</th>
		<td mat-cell *matCellDef="let plan">
			<div>
				<button
					mat-icon-button
					color="warn"
					(click)="deletePlan(plan._id)"
				>
					<mat-icon>delete</mat-icon>
				</button>
				<button mat-icon-button (click)="download(plan)">
					<mat-icon>download</mat-icon>
				</button>
				<button
					[routerLink]="['/class-plans', plan._id]"
					mat-icon-button
				>
					<mat-icon>open_in_new</mat-icon>
				</button>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
