.grid-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  width: 90vw;

  @media screen and (min-width: 720px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }

  .card-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }

  .item-card {
    width: 100%;
  }
}
