@for (builder of builders; track $index) {
  <div style="margin-bottom: 24px; margin-top: 24px;">
    <mat-card>
      <mat-card-header>
        <h2 mat-card-title>{{ builder.title }}</h2>
        <h3 mat-card-subtitle>{{ builder.description }}</h3>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="grid-container">
    @for (item of builder.list; track $index) {
      <mat-card class="item-card">
        <img style="aspect-ratio: 1/1;" [src]="item.cover" mat-card-image alt="">
        <mat-card-header>
          <h2 mat-card-title>{{ item.name }}</h2>
        </mat-card-header>
        <mat-card-content>
          <div style="margin-bottom: 12px;">{{ item.description }}</div>
          <div style="display: flex; flex-direction: column; gap: 12px;">
            <a mat-raised-button [routerLink]="item.link" color="primary">Entrar</a>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
}
