<div class="text-center">
  <h1>Precios de Suscripción a KitMaestro</h1>
</div>

<div id="zf-widget-root-id"></div>

<div class="pricing-table-container" style="display: none !important;">
    @for (plan of pricingPlans; track $index) {
        <mat-card class="pricing-card" [class.standard]="$index == 1">
            <mat-card-content>
                <mat-slide-toggle [checked]="monthlyPricing" (change)="monthlyPricing = !monthlyPricing"></mat-slide-toggle>
                <p>{{ monthlyPricing ? 'Pago Mensual' : 'Pago Anual' }}</p>
                <h2 style="margin: 0 auto;" mat-card-title>{{ plan.name }}</h2>
                @if (plan.price.month.original > 0 && !monthlyPricing) {
                    <h2 style="margin: 0 auto; text-decoration: line-through; color: #f44336;" mat-card-subtitle>{{ (monthlyPricing ? plan.price.month.original : plan.price.year.original) | currency : 'USD' }}</h2>
                }
                <h2 style="margin: 0 auto;" mat-card-subtitle>{{ plan.price.month.now == 0 ? 'Gratis' : ((monthlyPricing ? plan.price.month.now : plan.price.year.now) | currency : 'USD') }}</h2>
                @if (monthlyPricing && $index == 1) {
                    <mat-icon style="color: #673ab7;">verified</mat-icon>
                }
                <ul style="margin-bottom: 12px;">
                    @for(feature of plan.features; track feature) {
                        <li>{{ feature }}</li>
                    }
                </ul>
                @if ($index == 1) {
                  <div [class.hidden]="monthlyPricing" id="paypal-button-container-P-52T24700U3639062UM4OD5MY"></div>
                  <div [class.hidden]="!monthlyPricing" id="paypal-button-container-P-2EE66704US3183602M4OD3PA"></div>
                } @else if ($index == 2) {
                  <div [class.hidden]="monthlyPricing" id="paypal-button-container-P-18K0318878962562NM4OWONQ"></div>
                  <div [class.hidden]="!monthlyPricing" id="paypal-button-container-P-65554646XG739770LM4OWNZI"></div>
                } @else {
                  <button style="width: 100%; margin-top: auto;" mat-raised-button color="primary" (click)="buyPlan(plan)">{{ plan.buttonText }}</button>
                }
          </mat-card-content>
      </mat-card>
    }
</div>

<mat-card>
    <mat-card-content>
        <div class="text-center">
          <h2>Adquiere un paquete de suscripción y disfruta de los siguientes beneficios:</h2>
          <ul style="list-style: none;">
              <li>
                  Al adquirir la suscripción premium, recibirás un código de afiliado exclusivo para compartir con tus colegas.
              </li>
              <li>
                  Cada vez que alguien se registre con tu código, obtendrá un descuento del 20% en su suscripción.
              </li>
              <li>
                  Como agradecimiento por tu recomendación, recibirás el 20% del costo la suscripci&oacute;n de cada usuario que se registre con tu código.
              </li>
          </ul>
        </div>
    </mat-card-content>
</mat-card>
