<mat-card>
	<mat-card-header
		style="justify-content: space-between; align-items: center"
	>
		<h2 mat-card-title>Generador de Rúbricas</h2>
		<button mat-flat-button type="button" routerLink="/rubrics">
			Mis R&uacute;bricas
		</button>
	</mat-card-header>
	<mat-card-content>
		<form
			[formGroup]="rubricForm"
			(ngSubmit)="onSubmit()"
			style="margin-top: 24px"
		>
			<div>
				<mat-form-field appearance="outline">
					<mat-label>T&iacute;tulo</mat-label>
					<input formControlName="title" matInput />
				</mat-form-field>
			</div>
			<div class="grid-3-cols">
				@if (sections.length) {
					<mat-form-field
						style="max-width: 100%"
						appearance="outline"
					>
						<mat-label>Curso</mat-label>
						<mat-select
							formControlName="section"
							(selectionChange)="onSelectSection($event)"
						>
							@for (section of sections; track section._id) {
								<mat-option [value]="section._id">{{
									section.name
								}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				} @else {
					@if (!loading) {
						<div>
							<div>
								Para usar esta herramienta, primero tienes que
								crear una secci&oacute;n.
							</div>
							<div>
								<button
									mat-raised-button
									color="accent"
									type="button"
									[routerLink]="['/sections']"
								>
									Crear Una Secci&oacute;n
								</button>
							</div>
						</div>
					}
				}
				<mat-form-field appearance="outline">
					<mat-label>Asignatura</mat-label>
					<mat-select
						formControlName="subject"
						(selectionChange)="onSubjectSelect($event)"
					>
						@for (subject of subjects; track subject) {
							<mat-option [value]="subject">{{
								subject | pretify
							}}</mat-option>
						}
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Contenido</mat-label>
					<mat-select
						formControlName="content"
						(selectionChange)="onConceptSelect($event)"
					>
						@for (list of subjectConceptLists; track list) {
							@for (concept of list.concepts; track concept) {
								<mat-option [value]="concept">{{
									concept
								}}</mat-option>
							}
						}
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Tipo de R&uacute;brica</mat-label>
					<mat-select formControlName="rubricType">
						@for (type of rubricTypes; track type) {
							<mat-option [value]="type.id">{{
								type.label
							}}</mat-option>
						}
					</mat-select>
				</mat-form-field>
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Evidencia o Actividad</mat-label>
						<input formControlName="activity" matInput />
					</mat-form-field>
				</div>
				<div style="display: flex; gap: 12px">
					<mat-form-field appearance="outline">
						<mat-label>Calificación Mínima</mat-label>
						<input formControlName="minScore" matInput />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Calificación Máxima</mat-label>
						<input formControlName="maxScore" matInput />
					</mat-form-field>
				</div>
			</div>
			<div>
				<mat-form-field appearance="outline">
					<mat-label>Indicadores de Logro</mat-label>
					<mat-select
						multiple
						formControlName="achievementIndicators"
					>
						@for (
							indicator of achievementIndicators;
							track indicator
						) {
							<mat-option [value]="indicator">{{
								indicator
							}}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
			<div
				style="
					display: flex;
					justify-content: space-between;
					align-items: center;
				"
			>
				<h3>Niveles de desempe&ntilde;o</h3>
				<button
					type="button"
					mat-mini-fab
					[disabled]="rubricLevels.controls.length > 4"
					color="accent"
					(click)="addRubricLevel()"
				>
					<mat-icon>add</mat-icon>
				</button>
			</div>
			<div formArrayName="levels">
				@for (level of rubricLevels.controls; track $index) {
					<div
						style="
							display: grid;
							gap: 12px;
							grid-template-columns: 1fr 42px;
						"
					>
						<mat-form-field appearance="outline">
							<mat-label>Nivel #{{ $index + 1 }}</mat-label>
							<input [formControlName]="$index" matInput />
						</mat-form-field>
						<button
							(click)="deleteLevel($index)"
							type="button"
							mat-mini-fab
							color="warn"
							style="margin-top: 8px"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				}
			</div>
			@if (
				rubric &&
				rubric.rubricType === "Analítica (Global)" &&
				students.length === 0
			) {
				<div
					style="
						text-align: center;
						padding: 20px;
						background-color: #46a7f5;
						color: white;
						margin-bottom: 15px;
					"
				>
					Ya que no tienes alumnos registrados en esta secci&oacute;n,
					te hemos dejado espacios en blanco. Para mejores resultados,
					ve a la secci&oacute;n y registra tus estudiantes.
					<br />
					<br />
					<button
						[routerLink]="['/sections', rubric.section]"
						type="button"
						mat-raised-button
						color="link"
					>
						Detalles de la Secci&oacute;n
					</button>
				</div>
			}
			<div style="text-align: end">
				<button
					type="button"
					[disabled]="!rubric"
					mat-raised-button
					color="accent"
					style="margin-right: 12px"
					(click)="save()"
				>
					Guardar
				</button>
				<button
					type="submit"
					[disabled]="rubricForm.invalid || generating"
					mat-raised-button
					[color]="rubric ? 'link' : 'primary'"
				>
					{{
						generating
							? "Generando..."
							: rubric
								? "Regenerar"
								: "Generar"
					}}
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>

@if (rubric) {
	<mat-card
		style="
			margin-top: 24px;
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
		"
	>
		<mat-card-content style="width: fit-content">
			<app-rubric [rubric]="rubric"></app-rubric>
		</mat-card-content>
	</mat-card>
}
