.grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 24px;
    gap: 12px;

    @media screen and (min-width: 720px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(5, 1fr);
    }
}