<app-is-premium>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Actividades Generadas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Aqu&iacute; encontrar&aacute;s todas las actividades que vayas generando con los <a routerLink="/activity-generator">generadores de actividades</a> que tenemos disponibles.
            </p>
            <p>
                Conforme vayamos agregando generadores, esta lista tambi&eacute;n ir&aacute; creciendo.
            </p>
        </mat-card-content>
    </mat-card>

    <div class="grid">
        @for (category of categories; track $index) {
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{category.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-actions>
                    <a style="width: 100%;" [routerLink]="category.route" mat-flat-button color="primary">Acceder</a>
                </mat-card-actions>
            </mat-card>
        }
    </div>
</app-is-premium>