<div class="grid-container">
	@for (tool of tools; track $index) {
		<mat-card class="item-card">
			<!-- <img style="aspect-ratio: 1/1;" [src]="tool.cover" mat-card-image alt=""> -->
			<mat-card-header>
				<h2 mat-card-title>{{ tool.name }}</h2>
			</mat-card-header>
			<mat-card-content>
				<!-- <div style="margin-bottom: 12px;">{{ tool.description }}</div> -->
				<div style="display: flex; flex-direction: column; gap: 12px">
					<a
						mat-raised-button
						[routerLink]="['/assessments', tool.link]"
						color="primary"
						>Entrar</a
					>
				</div>
			</mat-card-content>
		</mat-card>
	}
</div>
