<mat-card>
    <mat-card-header>
        <mat-card-title>Registro de Asistencia</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="margin-top: 24px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 12px;">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Sección de Clase</mat-label>
                    <mat-select [formControl]="section" (selectionChange)="onSectionSelect($event)">
                        @for (section of sections; track section._id) {
                            <mat-option [value]="section._id">{{section.name}} ({{section.year | pretify}} de {{section.level | pretify}})</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Mes</mat-label>
                    <input type="number" min="1" max="12" [formControl]="month" matInput (change)="onMonthSelect($event)">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Año</mat-label>
                    <input type="number" [formControl]="year" matInput (change)="onYearSelect($event)">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div style="margin-top: 24px; box-shadow: #ccc 4px 4px 12px;">
    <table>
        <thead>
            <tr>
                <th [attr.colspan]="(calendar.weeks.length * calendar.daysPerWeek) + 5" style="width: 100%; border: 1px solid #ccc; padding: 12px; text-align: center;">Asistencia de {{monthName}} de {{year.value}}</th>
            </tr>
            <tr>
                <th rowspan="3">Estudiante</th>
                @for (week of calendar.weeks; track week.week) {
                    <th [attr.colspan]="calendar.daysPerWeek">Semana {{ week.week }}</th>
                }
                <th colspan="4" rowspan="2">Resumen de Asistencia</th>
            </tr>
            <tr>
                @for (week of calendar.weeks; track week.week) {
                    @for (day of week.days; track $index) {
                        <th>{{day.dayOfTheWeek}}</th>
                    }
                }
            </tr>
            <tr>
                @for (week of calendar.weeks; track week.week) {
                    @for (day of week.days; track $index) {
                        <td style="text-align: center;">{{day.date}}</td>
                    }
                }
                <td style="text-align: center;">P</td>
                <td style="text-align: center;">T</td>
                <td style="text-align: center;">A</td>
                <td style="text-align: center;">E</td>
            </tr>
        </thead>
        <tbody>
            @for(student of students; track student._id; let i = $index) {
                <tr>
                    <th style="text-align: start; padding: 4px 8px;">{{(i + 1).toString().padStart(2, '0')}}. {{student.firstname}} {{student.lastname}}</th>
                    @for (week of calendar.weeks; track week.week) {
                        @for (day of week.days; track $index) {
                            <td style="text-align: center; cursor: pointer;" [class.holiday]="holidays.includes(day.date)" (click)="toggleAttendance(student._id, day.date)">{{getAttendanceDay(student._id, day.date)[0]}}</td>
                        }
                    }
                    <td style="text-align: center;">{{ getStudentTotalP(student._id)}}</td>
                    <td style="text-align: center;">{{ getStudentTotalT(student._id)}}</td>
                    <td style="text-align: center;">{{ getStudentTotalA(student._id)}}</td>
                    <td style="text-align: center;">{{ getStudentTotalE(student._id)}}</td>
                </tr>
            } @empty {
                @if (sections.length && section.value) {
                    <tr>
                        <td [attr.colspan]="(calendar.weeks.length * calendar.daysPerWeek) + 5" style="padding: 24px; text-align: center;">No has registrado ningun estudiante en esta seccion todavia. Tienes que <a routerLink="/sections/{{section.value}}">registrar tus estudiantes</a> antes de usar esta herramienta.</td>
                    </tr>
                }
            }
            <tr>
                <th style="text-align: end; padding: 4px 8px;">Total</th>
                @for (week of calendar.weeks; track week.week) {
                    @for (day of week.days; track $index) {
                        <td style="text-align: center;">{{getDayTotal(day.date)}}</td>
                    }
                }
                <td colspan="4"></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 24px; display: flex; flex-direction: row-reverse; gap: 12px;">
    <button (click)="onSave()" mat-fab extended color="primary" [disabled]="saving || downloading || removing"><mat-icon>save</mat-icon>{{ saving ? 'Guardando' : 'Guardar' }}</button>
    <button (click)="download()" mat-fab extended color="primary" [disabled]="saving || downloading || removing"><mat-icon>download</mat-icon>{{ saving ? 'Descargando' : 'Descargar' }}</button>
    <button (click)="deleteEntries()" mat-fab extended color="primary" [disabled]="saving || downloading || removing"><mat-icon>delete</mat-icon>Reiniciar</button>
</div>