<app-is-premium>
	<mat-card>
		<mat-card-header class="header">
			<h2 class="title" mat-card-tittle>Generador de Plan de Clase (Plan Diario)</h2>
	  <button class="title-button" mat-flat-button [routerLink]="['/class-plans', 'list']" color="accent">Ver mis Planes</button>
		</mat-card-header>
		<mat-card-content>
			<form (ngSubmit)="onSubmit()" [formGroup]="planForm">
				<div class="controls-container-6">
					<mat-form-field appearance="outline">
						<mat-label>Curso</mat-label>
						<mat-select formControlName="classSection" (selectionChange)="onSectionSelect()">
							@for (section of classSections; track section) {
								<mat-option [value]="section._id">{{section.name}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Asignatura</mat-label>
						<mat-select formControlName="subject" (selectionChange)="onSubjectSelect()">
							@for (subject of sectionSubjects; track subject) {
								<mat-option [value]="subject">{{pretify(subject)}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Fecha</mat-label>
						<input type="date" formControlName="date" matInput>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Proceso Cognitivo</mat-label>
						<mat-select formControlName="bloomLevel">
							@for (level of bloomLevels; track level) {
								<mat-option [value]="level.id">{{level.label}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Estilo de Enseñanza</mat-label>
						<mat-select formControlName="teachingStyle">
							@for (style of teachingStyles; track style) {
								<mat-option [value]="style.id">{{style.label}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Tiempo</mat-label>
						<mat-select formControlName="duration">
							@for (minutes of [45, 50, 90]; track minutes) {
								<mat-option [value]="minutes">{{minutes}} Minutos</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</div>
		<div>
					<mat-form-field appearance="outline">
						<mat-label>Temas (Un tema por l&iacute;nea)</mat-label>
						<textarea formControlName="topics" matInput></textarea>
					</mat-form-field>
		</div>
				<div style="margin-bottom: 16px;">
					<mat-label>Recursos Disponibles</mat-label>
					<mat-chip-listbox formControlName="resources" multiple (change)="onResourceChange($event)">
						@for (resource of resources; track resource) {
							<mat-chip-option>{{resource}}</mat-chip-option>
						}
					</mat-chip-listbox>
				</div>
				<div style="margin-top: 12px; text-align: end;">
					@if (plan) {
						<button type="button" style="margin-right: 12px;" (click)="printPlan()" mat-raised-button color="accent">Descargar</button>
						<button type="button" style="margin-right: 12px;" (click)="savePlan()" mat-raised-button color="primary">Guardar</button>
					}
					<button type="submit" [disabled]="generating || planForm.invalid" mat-raised-button>
						@if (generating) {
							Generando...
						} @else {
							@if (plan) {
								Regenerar
							} @else {
								Generar
							}
						}
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>

	@if (plan) {
		<app-class-plan [classPlan]="plan" [section]="section" />
		<div style="height: 24px;"></div>
	}
</app-is-premium>
