<h2 style="width: fit-content; display: block; margin-left: auto; margin-right: auto;" mat-dialog-title>{{ resource ? 'Editar ' : 'Crear ' }} Recurso Did&aacute;ctico</h2>
<mat-dialog-content>
    <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">
        <div style="display: grid; grid-template-columns: 1fr 2fr;">
            <div class="preview-container">
                <figure>
                    <img [src]="preview" class="preview">
                    <caption>
                        <input type="file" #fileInput [multiple]="false" (change)="processPreview(fileInput.files)" accept="image/*" style="display: none;">
                        <button mat-raised-button color="accent" type="button" (click)="fileInput.click()">Elegir Miniatura</button>
                    </caption>
                </figure>
            </div>
            <div>
                <div style="display: flex; gap: 12px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Nivel</mat-label>
                        <mat-select (valueChange)="setGrades($event)" formControlName="level">
                            <mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Grado(s)</mat-label>
                        <mat-select multiple formControlName="grade">
                            <mat-option *ngFor="let grade of grades" [value]="grade">{{grade}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="display: flex; gap: 12px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Asignatura(s)</mat-label>
                        <mat-select (valueChange)="setTopics($event)" multiple formControlName="subject">
                            <mat-option *ngFor="let subject of subjects" [value]="subject">{{subject}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="max-width: 33%;" appearance="outline">
                        <mat-label>Formato</mat-label>
                        <mat-select formControlName="format" required>
                            <mat-option *ngFor="let format of formats" [value]="format">{{format}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Tema</mat-label>
                    <mat-select formControlName="topic">
                        <mat-option *ngFor="let topic of topics" [value]="topic">{{topic}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div style="display: flex; gap: 12px;">
                    <mat-form-field appearance="outline">
                        <mat-label>T&iacute;tulo</mat-label>
                        <input matInput type="text" formControlName="title" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Precio</mat-label>
                        <input type="number" min="0" matInput formControlName="price">
                    </mat-form-field>
                </div>
                <input type="file" style="display: none;" #fileField (change)="processFile(fileField.files)" [multiple]="false">
                <button type="button" mat-raised-button style="width: 100%; display: block; margin-bottom: 24px;" (click)="fileField.click()" color="accent">Seleccionar Archivo</button>
                <mat-form-field appearance="outline">
                    <mat-label>Descripci&oacute;n</mat-label>
                    <textarea matInput formControlName="description" required></textarea>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex; gap: 12px; margin-top: 12px;">
            <button mat-raised-button style="margin-left: auto;" mat-dialog-close color="warn" type="button">Descartar</button>
            <button mat-raised-button color="accent" (click)="saveDraft()" type="button">Guardar Borrador</button>
            <button mat-raised-button color="primary" [disabled]="resourceForm.invalid || !loading || preview == '/assets/Plantilla Ejemplo KM.svg'" type="submit">Publicar</button>
        </div>
    </form>
</mat-dialog-content>
