@if (generated) {
    <div class="table-container">
        <table style="margin-bottom: 12px; margin-top: 12px;">
            <thead>
                <tr>
                    <th scope="col">Estudiante</th>
                    <th colspan="8" scope="col">Indicador 1</th>
                    <th colspan="8" scope="col">Indicador 2</th>
                    <th colspan="8" scope="col">Indicador 3</th>
                    <th colspan="8" scope="col" *ngIf="generated.level == 'secondary'">Indicador 4</th>
                    <th colspan="5" scope="col">Promedios</th>
                </tr>
                <tr>
                    <th></th>
                    @for (indicator of [].constructor(generated.indicators); track $index) {
                        <th>P1</th>
                        <th>RP1</th>
                        <th>P2</th>
                        <th>RP2</th>
                        <th>P3</th>
                        <th>RP3</th>
                        <th>P4</th>
                        <th>RP4</th>
                    }
                    @if (generated.level == 'primary') {
                        <th>CP1</th>
                        <th>CP2</th>
                        <th>CP3</th>
                        <th>CP4</th>
                        <th>CF</th>
                    } @else {
                        <th>PC1</th>
                        <th>PC2</th>
                        <th>PC3</th>
                        <th>PC4</th>
                        <th>CF</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of generated.dataSet; let i = index">
                    <td>{{i + 1}}</td>
                    <td *ngFor="let cell of row">{{cell}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button mat-raised-button color="accent" (click)="generated = null">Reiniciar</button>
} @else {
    <mat-card>
        <mat-card-header>
            <h2 mat-card-title>Generador de Calificaciones</h2>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
                <div>
                    <label><b>Formato</b>:</label>
                    <mat-radio-group formControlName="level">
                        <mat-radio-button value="primary">Primaria</mat-radio-button>
                        <mat-radio-button value="secondary">Secundaria</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div style="margin-bottom: 16px;">
                    <mat-slide-toggle formControlName="includeRecover">Incluir Recuperaci&oacute;n (si es necesaria)</mat-slide-toggle>
                </div>
                <div style="margin-bottom: 16px; display: none;">
                    <mat-slide-toggle formControlName="precise">C&aacute;lculos Precisos (modo robot)</mat-slide-toggle>
                </div>
                <div style="margin-bottom: 16px;">
                    <label><b>Factor de Aleatoriedad</b>:</label>
                    <mat-chip-listbox formControlName="randomLevel">
                        <mat-chip-option color="accent" [value]="4">Bajo</mat-chip-option>
                        <mat-chip-option color="accent" [value]="8">Normal</mat-chip-option>
                        <mat-chip-option color="accent" [value]="12">Alto</mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <div style="margin-bottom: 16px;">
                    <label><b>Indicadores de Logro</b>:</label>
                    <mat-chip-listbox formControlName="indicators">
                        <mat-chip-option color="accent" [value]="1">1</mat-chip-option>
                        <mat-chip-option color="accent" [value]="2">2</mat-chip-option>
                        <mat-chip-option color="accent" [value]="3">3</mat-chip-option>
                        <mat-chip-option color="accent" [value]="4">4</mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <div style="margin-bottom: 16px;">
                    <label><b>Per&iacute;odos</b>:</label>
                    <mat-chip-listbox [multiple]="true" formControlName="grades">
                        <mat-chip-option color="accent" value="P1">P1</mat-chip-option>
                        <mat-chip-option color="accent" value="P2">P2</mat-chip-option>
                        <mat-chip-option color="accent" value="P3">P3</mat-chip-option>
                        <mat-chip-option color="accent" value="P4">P4</mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <div style="margin-bottom: 16px;" formArrayName="students">
                    @for (student of students.controls; track $index) {
                        <div style="margin-top: 16px;" [formGroupName]="$index">
                            <h3 style="display: flex;">
                                <span>Estudiante #{{$index + 1}}</span>
                                <span style="flex: 1 1 auto;"></span>
                                <mat-slide-toggle formControlName="improvements">Mostrar Progreso</mat-slide-toggle>
                            </h3>
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Nivel</mat-label>
                                <mat-select formControlName="level">
                                    <mat-option value="F">F (40 - 59)</mat-option>
                                    <mat-option value="D-">D- (60 - 63)</mat-option>
                                    <mat-option value="D">D (63 - 66)</mat-option>
                                    <mat-option value="D+">D+ (66 - 69)</mat-option>
                                    <mat-option value="C-">C- (70 - 73)</mat-option>
                                    <mat-option value="C">C (73 - 76)</mat-option>
                                    <mat-option value="C+">C+ (76 - 79)</mat-option>
                                    <mat-option value="B-">B- (80 - 83)</mat-option>
                                    <mat-option value="B">B (83 - 86)</mat-option>
                                    <mat-option value="B+">B+ (86 - 89)</mat-option>
                                    <mat-option value="A-">A- (90 - 93)</mat-option>
                                    <mat-option value="A">A (93 - 96)</mat-option>
                                    <mat-option value="S">S (96 - 99)</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button class="input-field" mat-raised-button (click)="removeStudent($index)" type="button" *ngIf="students.value.length !== 1">
                                <mat-icon>delete</mat-icon> <span>Eliminar Estudiante #{{$index + 1}}</span>
                            </button>
                        </div>
                        <mat-divider></mat-divider>
                    }
                    <div style="display: grid; grid-template-columns: 1fr; margin-top: 16px;">
                        <button type="button" (click)="addStudent()" mat-raised-button color="accent">Agregar Estudiante</button>
                    </div>
                </div>
                <div style="display: grid; grid-template-columns: 1fr;">
                    <button [disabled]="generating || configForm.invalid" mat-raised-button color="primary" type="submit">
                        <span *ngIf="generating; else iddle">Generando...</span>
                        <ng-template #iddle>
                            <span>Generar</span>
                        </ng-template>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
}
