mat-form-field {
    width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media screen and (mmin-width: 760px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(4, 1fr);
    }
}