<app-is-premium>
    @if (working) {
        <mat-card>
            <mat-card-header>
                <h2 mat-card-ittle>Generador de Actividades</h2>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field appearance="outline">
                <mat-label>Tipo de Actividad</mat-label>
                <mat-select [formControl]="activityTypeSelector">
                  @for (option of activityTypes; track $index) {
                    <mat-option [value]="option.id">{{option.label}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </mat-card-content>
        </mat-card>

        @if (activityTypeSelector.value == 'reading') {
          <app-reading-activity-generator></app-reading-activity-generator>
        } @else if (activityTypeSelector.value == 'groupProject') {
          <app-in-progress feature="Este generador"></app-in-progress>
        } @else if (activityTypeSelector.value == 'game') {
          <app-in-progress feature="Este generador"></app-in-progress>
        } @else if (activityTypeSelector.value == 'discussion') {
          <app-in-progress feature="Este generador"></app-in-progress>
        } @else if (activityTypeSelector.value == 'experiment') {
          <app-in-progress feature="Este generador"></app-in-progress>
        } @else if (activityTypeSelector.value == 'writing') {
          <app-in-progress feature="Este generador"></app-in-progress>
        } @else if (activityTypeSelector.value == 'art') {
          <app-in-progress feature="Este generador"></app-in-progress>
        } @else {
          <app-in-progress feature="Este generador"></app-in-progress>
        }
    } @else {
        <app-in-progress></app-in-progress>
    }
</app-is-premium>
