<mat-card>
	<mat-card-header>
		<mat-card-title
			>Generador de Escala de Estimaci&oacute;n</mat-card-title
		>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="scaleForm" (ngSubmit)="onSubmit()">
			<div>
				<mat-form-field appearance="outline">
					<mat-label>T&iacute;tulo</mat-label>
					<input formControlName="title" matInput type="tex" />
				</mat-form-field>
			</div>
			<div class="grid-2">
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Curso</mat-label>
						<mat-select
							formControlName="section"
							(selectionChange)="onSectionSelect($event)"
						>
							@for (section of sections; track section._id) {
								<mat-option [value]="section._id">{{
									section.name
								}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Asignatura</mat-label>
						<mat-select
							formControlName="subject"
							(selectionChange)="onSubjectChange($event)"
						>
							@for (subject of subjects; track $index) {
								<mat-option [value]="subject">{{
									pretifySubject(subject)
								}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div>
				<mat-form-field appearance="outline">
					<mat-label>Competencias Fundamentales</mat-label>
					<mat-select multiple formControlName="competence">
						@for (competence of competenceOptions; track $index) {
							<mat-option [value]="competence">{{
								competence
							}}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="outline">
					<mat-label>Indicadores de Logro</mat-label>
					<mat-select
						multiple
						formControlName="achievementIndicators"
					>
						@for (
							indicator of achievementIndicatorOptions;
							track $index
						) {
							<mat-option [value]="indicator">{{
								indicator
							}}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
			<div class="grid-2-1">
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Evidencia o Actividad</mat-label>
						<input matInput formControlName="activity" />
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="outline">
						<mat-label>Cantidad de Criterios</mat-label>
						<input
							matInput
							type="number"
							formControlName="qty"
							min="3"
							max="15"
						/>
					</mat-form-field>
				</div>
			</div>
			<div formArrayName="levels" style="margin-bottom: 12px">
				<h3>Niveles de Desempe&ntilde;o</h3>
				@for (level of scaleLevels.controls; track $index) {
					<div style="display: flex">
						<div style="flex: 1 1 auto">
							<mat-form-field appearance="outline">
								<mat-label>Nivel {{ $index + 1 }}</mat-label>
								<input
									type="text"
									matInput
									[formControlName]="$index"
								/>
							</mat-form-field>
						</div>
						@if (scaleLevels.controls.length > 3) {
							<button
								type="button"
								mat-icon-button
								color="warn"
								(click)="removeLevel($index)"
							>
								<mat-icon>delete</mat-icon>
							</button>
						}
					</div>
				}
				<button
					style="width: 100%"
					type="button"
					mat-flat-button
					(click)="addLevel()"
					color="accent"
				>
					Agregar Nivel
				</button>
			</div>
			<div style="text-align: end">
				<button
					type="submit"
					mat-flat-button
					[color]="estimationScale ? 'link' : 'primary'"
					[disabled]="scaleForm.invalid || generating || saving"
				>
					@if (generating) {
						Generando...
					} @else {
						@if (estimationScale) {
							Regenerar
						} @else {
							Generar
						}
					}
				</button>
				@if (estimationScale) {
					<button
						style="margin-left: 12px"
						type="button"
						[disabled]="saving || generating"
						mat-flat-button
						color="accent"
						(click)="print()"
					>
						Descargar
					</button>
					<button
						style="margin-left: 12px"
						type="button"
						[disabled]="saving || generating"
						mat-flat-button
						color="primary"
						(click)="save()"
					>
						Guardar
					</button>
				}
			</div>
		</form>
	</mat-card-content>
</mat-card>

@if (estimationScale) {
	<mat-card style="margin-top: 24px">
		<mat-card-content>
			<div
				style="width: 8.5in; padding: 0.35in; margin: 0 auto"
				id="estimation-scale"
			>
				@if (selectedSection) {
					<div style="text-align: center">
						<h2 style="margin: 0px">
							{{ selectedSection.school.name }}
						</h2>
						<h3 style="margin: 0px">
							A&ntilde;o Escolar {{ schoolYear }}
						</h3>
						<h3 style="margin: 0px">
							{{ user?.title }}. {{ user?.firstname }}
							{{ user?.lastname }}
						</h3>
						<h2 style="margin: 0px">Escala de Estimaci&oacute;n</h2>
						<h3 style="margin: 0px">{{ estimationScale.title }}</h3>
					</div>
					<h3 style="text-align: end">{{ selectedSection.name }}</h3>
				}
				<div
					style="
						display: grid;
						gap: 12px;
						margin-bottom: 12px;
						grid-template-columns: 3fr 1fr;
					"
				>
					<div style="display: flex; gap: 12px">
						<div style="font-weight: bold">Estudiante:</div>
						<div
							style="
								border-bottom: 1px solid black;
								width: 100%;
								flex: 1 1 auto;
							"
						></div>
					</div>
					<div style="display: flex; gap: 12px">
						<div style="font-weight: bold">Fecha:</div>
						<div
							style="
								border-bottom: 1px solid black;
								width: 100%;
								flex: 1 1 auto;
							"
						></div>
					</div>
				</div>
				<h3
					style="
						font-weight: bold;
						margin-bottom: 8px;
						margin-top: 8px;
					"
				>
					Competencias Espec&iacute;ficas
				</h3>
				<ul style="list-style: none; margin: 0; padding: 0">
					@for (item of estimationScale.competence; track item) {
						<li>- {{ item }}</li>
					}
				</ul>
				<h3
					style="
						font-weight: bold;
						margin-bottom: 8px;
						margin-top: 8px;
					"
				>
					Indicadores de Logro
				</h3>
				<ul style="list-style: none; margin: 0 0 12px; padding: 0">
					@for (
						item of estimationScale.achievementIndicators;
						track item
					) {
						<li>- {{ item }}</li>
					}
				</ul>
				<p>
					<b>Evidencia o Actividad</b>: {{ estimationScale.activity }}
				</p>
				<table>
					<thead>
						<tr>
							<th>Indicador o Criterio</th>
							@for (
								level of estimationScale.levels;
								track level
							) {
								<th>{{ level }}</th>
							}
							<th>Observaciones</th>
						</tr>
					</thead>
					<tbody>
						@for (row of estimationScale.criteria; track row) {
							<tr>
								<td>{{ row }}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</mat-card-content>
	</mat-card>
}
