@if (unitPlan) {
	<div style="padding-top: 16px; min-width: 8.5in;">
		<table
			style="
				border-collapse: collapse;
				border: 1px solid #ccc;
				table-layout: fixed;
			"
		>
			@if (!isPrintView) {
				<caption class="text-center bold">
					{{
						unitPlan.title
					}}
				</caption>
			}
			<tbody>
				<tr>
					<td style="width: calc(100% / 6)">
						<b>Centro Educativo</b>
					</td>
					<td colspan="5">
						{{
							section
								? section.school.name
								: unitPlan.section.school.name
						}}
					</td>
				</tr>
				<tr>
					<td colspan="2" style="width: 33.33%">
						<b>Docente</b>:
						{{ user ? user.title : unitPlan.user.title }}.
						{{ user ? user.firstname : unitPlan.user.firstname }}
						{{ user ? user.lastname : unitPlan.user.lastname }}
					</td>
					<td colspan="2" style="width: 33.33%">
						<b>Grado y Secci&oacute;n</b>:
						{{ section ? section.name : unitPlan.section.name }}
					</td>
					<td colspan="2" style="width: 33.33%">
						<b>Tiempo Asignado</b>: {{ unitPlan.duration }} Semana{{
							unitPlan.duration > 1 ? "s" : ""
						}}
					</td>
				</tr>
				<tr>
					<td><b>Situaci&oacute;n de Aprendizaje</b></td>
					<td colspan="5">{{ unitPlan.learningSituation }}</td>
				</tr>
				@if (
					(section && section.level === "PRIMARIA") ||
					unitPlan.section.level === "PRIMARIA"
				) {
					<tr>
						<td colspan="6" class="text-center">
							<b>Competencias Fundamentales</b>
						</td>
					</tr>
					<tr>
						<td class="text-center" colspan="2">Comunicativa</td>
						<td class="text-center" colspan="2">
							Pensamiento Lógico, Creativo y Crítico; Resolución
							de Problemas; Tecnológica y Científica
						</td>
						<td class="text-center" colspan="2">
							Ética y Ciudadana; Desarrollo Personal y Espiritual;
							Ambiental y de la Salud
						</td>
					</tr>
					<tr>
						<td colspan="6" class="bold text-center">
							Competencias Específicas del Grado
						</td>
					</tr>
					<tr>
						<td colspan="2">
							@for (
								comp of competence.length
									? competence
									: unitPlan.competence;
								track comp._id
							) {
								@if (comp.name === "Comunicativa") {
									@if (unitPlan.subjects.length > 1) {
										<p class="bold">
											{{ comp.subject | pretify }}
										</p>
									}
									<ul
										style="
											margin: 0;
											padding: 0;
											list-style: none;
										"
									>
										@for (el of comp.entries; track el) {
											<li>- {{ el }}</li>
										}
									</ul>
								}
							}
						</td>
						<td colspan="2">
							@for (
								comp of competence.length
									? competence
									: unitPlan.competence;
								track comp._id
							) {
								@if (comp.name.includes("Pensamiento")) {
									@if (unitPlan.subjects.length > 1) {
										<p class="bold">
											{{ comp.subject | pretify }}
										</p>
									}
									<ul
										style="
											margin: 0 0 24px;
											padding: 0;
											list-style: none;
										"
									>
										@for (el of comp.entries; track el) {
											<li>- {{ el }}</li>
										}
									</ul>
								}
							}
						</td>
						<td colspan="2">
							@for (
								comp of competence.length
									? competence
									: unitPlan.competence;
								track comp._id
							) {
								@if (comp.name.includes("Ciudadana")) {
									@if (unitPlan.subjects.length > 1) {
										<p class="bold">
											{{ comp.subject | pretify }}
										</p>
									}
									<ul
										style="
											margin: 0 0 24px;
											padding: 0;
											list-style: none;
										"
									>
										@for (el of comp.entries; track el) {
											<li>- {{ el }}</li>
										}
									</ul>
								}
							}
						</td>
					</tr>
					<tr>
						<td colspan="6" class="bold text-center">
							Criterios de Evaluaci&oacute;n
						</td>
					</tr>
					<tr>
						<td colspan="2">
							@for (
								row of competence.length
									? competence
									: unitPlan.competence;
								track $index
							) {
								@if (row.name === "Comunicativa") {
									@if (unitPlan.subjects.length > 1) {
										<h4 class="bold">
											{{ row.subject | pretify }}
										</h4>
									}
									<ul
										style="
											margin: 0;
											padding: 0;
											list-style: none;
										"
									>
										@for (
											criterion of row.criteria;
											track criterion
										) {
											@if (criterion) {
												<li>- {{ criterion }}</li>
											}
										}
									</ul>
								}
							}
						</td>
						<td colspan="2">
							@for (
								row of competence.length
									? competence
									: unitPlan.competence;
								track $index
							) {
								@if (row.name.includes("Pensamiento")) {
									@if (unitPlan.subjects.length > 1) {
										<h4 class="bold">
											{{ row.subject | pretify }}
										</h4>
									}
									<ul
										style="
											margin: 0;
											padding: 0;
											list-style: none;
										"
									>
										@for (
											criterion of row.criteria;
											track criterion
										) {
											@if (criterion) {
												<li>- {{ criterion }}</li>
											}
										}
									</ul>
								}
							}
						</td>
						<td colspan="2">
							@for (
								row of competence.length
									? competence
									: unitPlan.competence;
								track $index
							) {
								@if (row.name.includes("Ciudadana")) {
									@if (unitPlan.subjects.length > 1) {
										<h4 class="bold">
											{{ row.subject | pretify }}
										</h4>
									}
									<ul
										style="
											margin: 0;
											padding: 0;
											list-style: none;
										"
									>
										@for (
											criterion of row.criteria;
											track criterion
										) {
											@if (criterion) {
												<li>- {{ criterion }}</li>
											}
										}
									</ul>
								}
							}
						</td>
					</tr>
				} @else {
					<tr>
						<td colspan="6" class="bold text-center">
							Competencias Fundamentales
						</td>
					</tr>
					<tr>
						<td colspan="6" style="padding: 0">
							<div style="display: flex">
								<div
									style="
										text-align: center;
										border-right: 1px solid #ccc;
										width: 100%;
										flex: 1 1 auto;
									"
								>
									Comunicativa
								</div>
								<div
									style="
										text-align: center;
										border-right: 1px solid #ccc;
										width: 100%;
										flex: 1 1 auto;
									"
								>
									Pensamiento Lógico, Creativo y Crítico
								</div>
								<div
									style="
										text-align: center;
										border-right: 1px solid #ccc;
										width: 100%;
										flex: 1 1 auto;
									"
								>
									Resolución de Problemas
								</div>
								<div
									style="
										text-align: center;
										border-right: 1px solid #ccc;
										width: 100%;
										flex: 1 1 auto;
									"
								>
									Tecnológica y Científica
								</div>
								<div
									style="
										text-align: center;
										border-right: 1px solid #ccc;
										width: 100%;
										flex: 1 1 auto;
									"
								>
									Ética y Ciudadana
								</div>
								<div
									style="
										text-align: center;
										border-right: 1px solid #ccc;
										width: 100%;
										flex: 1 1 auto;
									"
								>
									Desarrollo Personal y Espiritual
								</div>
								<div
									style="
										text-align: center;
										width: 100%;
										flex: 1 1 auto;
									"
								>
									Ambiental y de la Salud
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="6" class="bold text-center">
							Competencias Específicas del Grado
						</td>
					</tr>
					<tr>
						<td colspan="6" style="padding: 0">
							<div style="display: flex">
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										comp of competence.length
											? competence
											: unitPlan.competence;
										track comp._id
									) {
										@if (comp.name === "Comunicativa") {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ comp.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0 0 24px;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													el of comp.entries;
													track el
												) {
													<li>- {{ el }}</li>
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										comp of competence.length
											? competence
											: unitPlan.competence;
										track comp._id
									) {
										@if (
											comp.name === "Pensamiento Logico"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ comp.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0 0 24px;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													el of comp.entries;
													track el
												) {
													<li>- {{ el }}</li>
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										comp of competence.length
											? competence
											: unitPlan.competence;
										track comp._id
									) {
										@if (
											comp.name ===
											"Resolucion De Problemas"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ comp.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0 0 24px;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													el of comp.entries;
													track el
												) {
													<li>- {{ el }}</li>
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										comp of competence.length
											? competence
											: unitPlan.competence;
										track comp._id
									) {
										@if (
											comp.name === "Ciencia Y Tecnologia"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ comp.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0 0 24px;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													el of comp.entries;
													track el
												) {
													<li>- {{ el }}</li>
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										comp of competence.length
											? competence
											: unitPlan.competence;
										track comp._id
									) {
										@if (
											comp.name === "Etica Y Ciudadana"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ comp.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0 0 24px;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													el of comp.entries;
													track el
												) {
													<li>- {{ el }}</li>
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										comp of competence.length
											? competence
											: unitPlan.competence;
										track comp._id
									) {
										@if (
											comp.name ===
											"Desarrollo Personal Y Espiritual"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ comp.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0 0 24px;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													el of comp.entries;
													track el
												) {
													<li>- {{ el }}</li>
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
									"
								>
									@for (
										comp of competence.length
											? competence
											: unitPlan.competence;
										track comp._id
									) {
										@if (
											comp.name ===
											"Ambiental Y De La Salud"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ comp.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0 0 24px;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													el of comp.entries;
													track el
												) {
													<li>- {{ el }}</li>
												}
											</ul>
										}
									}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="6" class="bold text-center">
							Criterios de Evaluaci&oacute;n
						</td>
					</tr>
					<tr>
						<td colspan="6" style="padding: 0">
							<div style="display: flex">
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										row of competence.length
											? competence
											: unitPlan.competence;
										track $index
									) {
										@if (row.name === "Comunicativa") {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ row.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													criterion of row.criteria;
													track criterion
												) {
													@if (criterion) {
														<li>
															- {{ criterion }}
														</li>
													}
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										row of competence.length
											? competence
											: unitPlan.competence;
										track $index
									) {
										@if (
											row.name === "Pensamiento Logico"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ row.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													criterion of row.criteria;
													track criterion
												) {
													@if (criterion) {
														<li>
															- {{ criterion }}
														</li>
													}
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										row of competence.length
											? competence
											: unitPlan.competence;
										track $index
									) {
										@if (
											row.name ===
											"Resolucion De Problemas"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ row.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													criterion of row.criteria;
													track criterion
												) {
													@if (criterion) {
														<li>
															- {{ criterion }}
														</li>
													}
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										row of competence.length
											? competence
											: unitPlan.competence;
										track $index
									) {
										@if (
											row.name === "Ciencia Y Tecnologia"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ row.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													criterion of row.criteria;
													track criterion
												) {
													@if (criterion) {
														<li>
															- {{ criterion }}
														</li>
													}
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										row of competence.length
											? competence
											: unitPlan.competence;
										track $index
									) {
										@if (row.name === "Etica Y Ciudadana") {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ row.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													criterion of row.criteria;
													track criterion
												) {
													@if (criterion) {
														<li>
															- {{ criterion }}
														</li>
													}
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
										border-right: 1px solid #ccc;
									"
								>
									@for (
										row of competence.length
											? competence
											: unitPlan.competence;
										track $index
									) {
										@if (
											row.name ===
											"Desarrollo Personal Y Espiritual"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ row.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													criterion of row.criteria;
													track criterion
												) {
													@if (criterion) {
														<li>
															- {{ criterion }}
														</li>
													}
												}
											</ul>
										}
									}
								</div>
								<div
									style="
										flex: 1 1 auto;
										padding: 12px;
										width: 100%;
									"
								>
									@for (
										row of competence.length
											? competence
											: unitPlan.competence;
										track $index
									) {
										@if (
											row.name ===
											"Ambiental Y De La Salud"
										) {
											@if (unitPlan.subjects.length > 1) {
												<p class="bold">
													{{ row.subject | pretify }}
												</p>
											}
											<ul
												style="
													margin: 0;
													padding: 0;
													list-style: none;
												"
											>
												@for (
													criterion of row.criteria;
													track criterion
												) {
													@if (criterion) {
														<li>
															- {{ criterion }}
														</li>
													}
												}
											</ul>
										}
									}
								</div>
							</div>
						</td>
					</tr>
				}
				<tr>
					<td class="bold">
						Eje{{
							unitPlan.subjects.length === 1 ? "" : "s"
						}}
						Transversal{{
							unitPlan.subjects.length === 1 ? "" : "es"
						}}
					</td>
					<td colspan="5">
						@for (
							theme of mainThemes.length
								? mainThemes
								: unitPlan.mainThemes;
							track $index
						) {
							@if (unitPlan.subjects.length > 1) {
								<h4 class="bold">
									{{ theme.subject | pretify }}:
								</h4>
							}
							<ul style="margin: 0; padding: 0; list-style: none">
								@for (topic of theme.topics; track topic) {
									<li>- {{ topic }}</li>
								}
							</ul>
						}
					</td>
				</tr>
				<tr>
					<td class="bold">
						&Aacute;rea{{
							unitPlan.subjects.length === 1 ? "" : "s"
						}}
						Curricular{{
							unitPlan.subjects.length === 1 ? "" : "es"
						}}
					</td>
					<td colspan="5">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (subject of unitPlan.subjects; track subject) {
								<li>{{ subject | pretify }}</li>
							}
						</ul>
					</td>
				</tr>
				<tr>
					<td class="bold">
						Estrategias de Ense&ntilde;anza y Aprendizaje
					</td>
					<td colspan="5">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								strategy of removeDuplicates(
									unitPlan.strategies
								);
								track strategy
							) {
								<li>- {{ strategy }}</li>
							}
						</ul>
					</td>
				</tr>
				<tr>
					<td class="bold">Indicadores de Logro</td>
					<td colspan="5">
						@for (
							content of contents.length
								? contents
								: unitPlan.contents;
							track content._id
						) {
							@if (unitPlan.subjects.length > 1) {
								<p>
									<b>{{ content.subject | pretify }}</b>
								</p>
							}
							<ul style="margin: 0; padding: 0; list-style: none">
								@for (
									indicator of content.achievement_indicators;
									track $index
								) {
									<li>- {{ indicator }}</li>
								}
							</ul>
						}
					</td>
				</tr>
				<tr>
					<td class="bold text-center" colspan="6">Contenidos</td>
				</tr>
				<tr>
					<td class="bold text-center" colspan="2">Conceptuales</td>
					<td class="bold text-center" colspan="2">
						Procedimentales
					</td>
					<td class="bold text-center" colspan="2">Actitudinales</td>
				</tr>
				<tr>
					<td colspan="2">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								block of contents.length
									? contents
									: unitPlan.contents;
								track block
							) {
								@if (unitPlan.subjects.length === 1) {
									@for (
										content of block.concepts;
										track content
									) {
										<li>- {{ content }}</li>
									}
								} @else {
									<li>
										<b>{{ block.subject | pretify }}</b>
									</li>
									<ul>
										@for (
											content of block.concepts;
											track content
										) {
											<li>{{ content }}</li>
										}
									</ul>
								}
							}
						</ul>
					</td>
					<td colspan="2">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								block of contents.length
									? contents
									: unitPlan.contents;
								track block
							) {
								@if (unitPlan.subjects.length === 1) {
									@for (
										content of block.procedures;
										track content
									) {
										<li>- {{ content }}</li>
									}
								} @else {
									<li>
										<b>{{ block.subject | pretify }}</b>
									</li>
									<ul>
										@for (
											content of block.procedures;
											track content
										) {
											<li>{{ content }}</li>
										}
									</ul>
								}
							}
						</ul>
					</td>
					<td colspan="2">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								block of contents.length
									? contents
									: unitPlan.contents;
								track block
							) {
								@if (unitPlan.subjects.length === 1) {
									@for (
										content of block.attitudes;
										track content
									) {
										<li>- {{ content }}</li>
									}
								} @else {
									<li>
										<b>{{ block.subject | pretify }}</b>
									</li>
									<ul>
										@for (
											content of block.attitudes;
											track content
										) {
											<li>{{ content }}</li>
										}
									</ul>
								}
							}
						</ul>
					</td>
				</tr>
				<tr>
					<td class="bold text-center" colspan="6">Actividades</td>
				</tr>
				<tr>
					<td class="bold text-center" colspan="2">
						De Ense&ntilde;anza
					</td>
					<td class="bold text-center" colspan="2">De Aprendizaje</td>
					<td class="bold text-center" colspan="2">
						De Evaluaci&oacute;n
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								activityList of unitPlan.teacherActivities;
								track activityList
							) {
								@if (unitPlan.subjects.length === 1) {
									@for (
										activity of activityList.activities;
										track $index
									) {
										<li>- {{ activity }}</li>
									}
								} @else {
									<li class="bold">
										{{ activityList.subject | pretify }}
									</li>
									<ul
										style="
											margin: 0;
											padding: 0;
											list-style: none;
										"
									>
										@for (
											activity of activityList.activities;
											track $index
										) {
											<li>- {{ activity }}</li>
										}
									</ul>
								}
							}
						</ul>
					</td>
					<td colspan="2">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								activityList of unitPlan.studentActivities;
								track activityList
							) {
								@if (unitPlan.subjects.length === 1) {
									@for (
										activity of activityList.activities;
										track $index
									) {
										<li>- {{ activity }}</li>
									}
								} @else {
									<li class="bold">
										{{ activityList.subject | pretify }}
									</li>
									<ul
										style="
											margin: 0;
											padding: 0;
											list-style: none;
										"
									>
										@for (
											activity of activityList.activities;
											track $index
										) {
											<li>- {{ activity }}</li>
										}
									</ul>
								}
							}
						</ul>
					</td>
					<td colspan="2">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								activityList of unitPlan.evaluationActivities;
								track activityList
							) {
								@if (unitPlan.subjects.length === 1) {
									@for (
										activity of activityList.activities;
										track $index
									) {
										<li>- {{ activity }}</li>
									}
								} @else {
									<li class="bold">
										{{ activityList.subject | pretify }}
									</li>
									<ul
										style="
											margin: 0;
											padding: 0;
											list-style: none;
										"
									>
										@for (
											activity of activityList.activities;
											track $index
										) {
											<li>- {{ activity }}</li>
										}
									</ul>
								}
							}
						</ul>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="bold text-center">
						T&eacute;cnicas e Instrumentos de Evaluaci&oacute;n
					</td>
					<td colspan="3" class="bold text-center">
						Medios y Recursos
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								instrument of unitPlan.instruments;
								track instrument
							) {
								<li>- {{ instrument }}</li>
							}
						</ul>
					</td>
					<td colspan="3">
						<ul style="margin: 0; padding: 0; list-style: none">
							@for (
								resource of unitPlan.resources;
								track resource
							) {
								<li>- {{ resource }}</li>
							}
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
}
