.page {
	min-width: 11in;
	padding: 0.75in;
}

td,
th {
	border: 1px solid #ccc;
	padding: 8px;
}

table {
	border-collapse: collapse;
}

.shadow {
	box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
}
