<mat-card>
    <mat-card-header>
        <mat-card-title>Diversificador de Contenidos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="margin-top: 12px;">
            <form [formGroup]="diversityForm" (ngSubmit)="onSubmit()">
                <div class="grid">
                    <div>
                        <mat-form-field>
                            <mat-label>Grado</mat-label>
                            <mat-select formControlName="section" (selectionChange)="onSectionSelect($event)">
                                @for (section of sections; track section._id) {
                                    <mat-option [value]="section._id">{{section.name}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Asignatura</mat-label>
                            <mat-select formControlName="subject">
                                @for (subject of subjects; track subject) {
                                    <mat-option [value]="subject | pretify">{{subject | pretify}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Condici&oacute;n</mat-label>
                            <mat-select formControlName="condition">
                                @for (condition of conditions; track condition) {
                                    <mat-option [value]="condition">{{condition}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Descripci&oacute;n del tema o la Actividad a realizar</mat-label>
                            <input type="text" matInput formControlName="topic">
                        </mat-form-field>
                    </div>
                </div>
                <div style="display: flex; gap: 12px; flex-direction: row-reverse;">
                    <button mat-fab extended [disabled]="loading || diversityForm.invalid" type="submit"><mat-icon>bolt</mat-icon> {{ generated ? 'Regenerar' : 'Generar' }}</button>
                    <button mat-fab extended [disabled]="!generated" type="button" (click)="download()"><mat-icon>download</mat-icon> Descargar</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>

@if (generated) {
    <div style="margin-top: 24px;">
        <mat-card>
            <mat-card-content>
                <markdown [data]="generated"></markdown>
            </mat-card-content>
        </mat-card>
    </div>
}