p {
	font-size: 16px;
	font-family: Roboto, sans-serif;
}

.grid {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr;

	@media screen and (min-width: 720px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (min-width: 1400px) {
		grid-template-columns: repeat(4, 1fr);
	}
}
