<mat-card>
    <mat-card-header>
        <div style="display: flex; width: 100%; align-items: center; justify-content: space-between;">
            <h2 style="margin-top: auto; margin-bottom: auto;" mat-card-title>Secciones</h2>
            <button (click)="openSectionFormDialog()" mat-fab>
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p style="color: gray;">Aqui puedes administrar las secciones con las que trabajas.</p>
    </mat-card-content>
</mat-card>

@if ((sections$ | async)?.length) {
    <div style="display: grid; gap: 20px; grid-template-columns: repeat(4, 1fr);">
        <mat-card *ngFor="let section of sections$ | async" style="margin-top: 20px;">
            <mat-card-header>
                <h2 mat-card-title>{{ section.name }}</h2>
                <h3 mat-card-subtitle>{{ formatValue(section.grade) }} de {{ formatValue(section.level) }}</h3>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Asignaturas
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <ng-container *ngFor="let subject of section.subjects">
                                <mat-list-item>{{ formatValue(subject) }}</mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-container>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
            <mat-card-actions style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 8px;">
                <button [routerLink]="['/attendance', section.id]" mat-raised-button color="accent" style="width: 100%; display: block;">Asistencia</button>
                <button [routerLink]="['/premium', 'tracking', 'section', section.id]" mat-raised-button color="primary" style="width: 100%; display: block;">Notas</button>
                <button [routerLink]="['/datacenter', 'sections', section.id]" mat-raised-button style="width: 100%; display: block;">Detalles</button>
            </mat-card-actions>
        </mat-card>
    </div>
} @else {
    <img mat-card-image src="/assets/empty.svg" style="width: 100%; max-width: 250px; display: block; margin: 42px auto;">
    <div style="text-align: center; display: flex; justify-content: center; align-items: center;">No hay datos todavia. Presiona el boton <mat-icon>add</mat-icon> para empezar.</div>
}

<!-- <table mat-table [dataSource]="sections" class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Secci&oacute;n</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef>Nivel</th>
        <td mat-cell *matCellDef="let element">{{ element.level }}</td>
    </ng-container>

    <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef>Grado</th>
        <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
    </ng-container>

    <ng-container matColumnDef="subjects">
        <th mat-header-cell *matHeaderCellDef>Asignaturas</th>
        <td mat-cell *matCellDef="let element">{{ element.subjects.join(', ') }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="sectionsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: sectionsColumns;"></tr>

</table> -->