<app-is-premium>
  <mat-card>
    <mat-card-header class="header">
      <h2 mat-card-title class="title">Mis Planes Diarios</h2>
      <button class="title-button" mat-raised-button color="accent" [routerLink]="['/app', 'class-plans']">Crear Nuevo Plan</button>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        @for (plan of classPlans$ | async; track plan) {
          <mat-list-item>
            <a mat-list-item [routerLink]="['/app', 'class-plans', plan.id]">{{ plan.sectionName }} - {{ pretify(plan.subject) }} - {{ plan.date ? plan.date.split('-').reverse().join('/') : '' }}</a>
            <button mat-icon-button color="warn" (click)="deletePlan(plan.id)" matListItemMeta>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        }
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</app-is-premium>
