.form-grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

mat-form-field {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;

    td,
    th {
        border: 1px solid #aaa;
        padding: 8px 12px;
    }
}

.checklist {
    max-width: 8.5in;
    margin: 24px auto;
    background-color: #fff;
    box-shadow: #ddd 4px 4px 8px;
    padding: .7in;
}