<app-is-premium>
	<mat-card>
		<mat-card-header>
			<h2 mat-card-ittle>Generador de Conversaciones en Ingl&eacute;s</h2>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="generatorForm" (ngSubmit)="onSubmit()">
				<div
					style="
						display: grid;
						gap: 12px;
						grid-template-columns: 1fr 1fr;
					"
				>
					<mat-form-field>
						<mat-label>Nivel</mat-label>
						<mat-select formControlName="level">
							@for (level of dialogLevels; track $index) {
								<mat-option [value]="$index">{{
									level
								}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Tema</mat-label>
						<mat-select formControlName="topic">
							@for (topic of topics; track $index) {
								<mat-option [value]="topic">{{
									topic
								}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</div>
				<mat-slide-toggle
					style="margin-top: 12px; margin-bottom: 24px"
					formControlName="useAi"
					>Utilizar Inteligencia Artificial
					<small style="color: #888"
						>*Esta es una opci&oacute;n que a&uacute;n est&aacute;
						en desarrollo. Ten cuidado.*</small
					></mat-slide-toggle
				>
				<div>
					<button
						[disabled]="generating"
						mat-raised-button
						color="primary"
						type="submit"
					>
						{{
							generating
								? "Generando..."
								: conversation
									? "Regenerar"
									: "Generar"
						}}
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
	@if (conversation) {
		<mat-card style="margin-top: 24px">
			<mat-card-header>
				<h2 mat-card-title>{{ conversation.title }}</h2>
			</mat-card-header>
			<mat-card-content>
				<div class="conversation">
					@for (line of conversation.talk; track $index) {
						<div [class.a]="line.a" [class.b]="line.b">
							<b>{{ line.a ? "A" : "B" }}</b
							>: {{ line.a ? line.a : line.b }}
						</div>
					}
				</div>
			</mat-card-content>
		</mat-card>
	}
</app-is-premium>
