.v-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 20px auto;
	width: 90%;
}

.v-centered {
	text-align: center;

	p {
		margin-top: 32px;
	}
}
