.loading-back {
    display: flex;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.page {
    width: 100%;

    .content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        
        div {
            height: 50vh;
            max-height: 2.3in;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            font-size: 16pt;
            font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border: 1px solid #ddd;
        }
    }
}

.main-container {
    width: 100%;
    max-width: 1400px;
    margin: 12px auto 42px;
}

body {
    background-color: #f2f2f2;
}