<div>
    <mat-card>
        <mat-card-header>
            <h2 mat-card-title>Generador de Listas de Cotejo</h2>
        </mat-card-header>
        <mat-card-content>
            <div style="margin-top: 24px;">
                <form [formGroup]="checklistForm" (ngSubmit)="onSubmit()">
                    <div class="form-grid">
                        <div>
                            <mat-form-field>
                                <mat-label>Curso</mat-label>
                                <mat-select appearance="outline" (selectionChange)="onSectionSelect($event)" formControlName="section">
                                    @for(section of sections; track section._id) {
                                        <mat-option [value]="section._id">{{section.name}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Asignatura</mat-label>
                                <mat-select appearance="outline" (selectionChange)="onSubjectSelect($event)" formControlName="subject">
                                    @for(subject of subjects; track subject) {
                                        <mat-option [value]="subject">{{subject | pretify}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Tema</mat-label>
                                <mat-select appearance="outline" (selectionChange)="onConceptSelect($event)" formControlName="concept">
                                    @for(list of subjectConceptLists; track $index) {
                                        @for (concept of list.concepts; track concept) {
                                            <mat-option [value]="concept">{{concept}}</mat-option>
                                        }
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="text-align: end;">
                        <button mat-raised-button color="primary" type="submit" [disabled]="checklistForm.invalid">Generar</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>