<app-is-premium>
    @if (working) {
        <mat-card style="margin-bottom: 24px;">
            <mat-card-header>
                <h2 mat-card-ittle>Generadores de Instrumentos de Evaluaci&oacute;n</h2>
                <a mat-mini-fab [routerLink]="['/assessments']" style="margin-bottom: auto; margin-top: -4px; margin-left: auto;">
                    <mat-icon>home</mat-icon>
                </a>
            </mat-card-header>
        </mat-card>
        <router-outlet></router-outlet>
    } @else {
        <app-in-progress></app-in-progress>
    }
</app-is-premium>
