<app-is-premium>
    @if (working) {
        <mat-card style="margin-bottom: 24px;">
            <mat-card-header>
                <h2 mat-card-ittle>Generadores de Instrumentos de Evaluaci&oacute;n</h2>
                <a mat-mini-fab [routerLink]="['/assessments']" style="margin-left: auto;" color="link">
                    <mat-icon>home</mat-icon>
                </a>
                <a mat-mini-fab [routerLink]="['/assessments/list']" style="margin-left: 12px;" color="accent">
                    <mat-icon>list</mat-icon>
                </a>
                <button style="margin-left: 12px;" mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>add</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a routerLink="/assessments/observation-sheet" mat-menu-item>Gu&iacute;a de Observaci&oacute;n</a>
                    <a routerLink="/assessments/rubric" mat-menu-item>R&uacute;brica</a>
                    <a routerLink="/assessments/estimation-scale" mat-menu-item>Escala de Estimaci&oacute;n</a>
                </mat-menu>
            </mat-card-header>
        </mat-card>
        <router-outlet></router-outlet>
    } @else {
        <app-in-progress></app-in-progress>
    }
</app-is-premium>
