@if (observationGuide) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{observationGuide.title}}</mat-card-title>
            <span style="flex: 1 1 auto;"></span>
            <a routerLink="/assessments/observation-sheets" mat-icon-button color="link" style="margin-right: 8px;" title="Todas las guias">
                <mat-icon>home</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="deleteGuide()" style="margin-right: 8px;" title="Eliminar esta guia">
                <mat-icon>delete</mat-icon>
            </button>
            <!-- <a target="_blank" routerLink="/print-activities/{{id}}" mat-icon-button color="link" style="margin-right: 8px;">
                <mat-icon>print</mat-icon>
            </a> -->
            <button (click)="download()" mat-icon-button color="accent" title="Descargar como PDF">
                <mat-icon>download</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
    <app-observation-guide [students]="students" [guide]="observationGuide"></app-observation-guide>
}