<mat-card style="margin-bottom: 24px">
	<mat-card-header>
		<h2 mat-card-title>Gu&iacute;as de Observaci&oacute;n</h2>
	</mat-card-header>
	<mat-card-content>
		<div>
			<form [formGroup]="sheetForm" (ngSubmit)="onSubmit()">
				<div style="">
					<mat-form-field appearance="outline">
						<mat-label>T&iacute;tulo</mat-label>
						<input type="text" matInput formControlName="title" />
					</mat-form-field>
				</div>
				<div style="display: flex; gap: 16px; margin-bottom: 16px">
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-checkbox
							class="example-margin"
							#blank
							(change)="
								blank.checked
									? sheetForm.get('date')?.disable()
									: sheetForm.get('date')?.enable()
							"
							formControlName="blankDate"
						>
							Dejar Fecha en Blanco
						</mat-checkbox>
					</div>
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-form-field appearance="outline">
							<mat-label>Fecha</mat-label>
							<input
								type="date"
								matInput
								formControlName="date"
							/>
						</mat-form-field>
					</div>
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-checkbox
							class="example-margin"
							formControlName="individual"
						>
							Reporte Individual
						</mat-checkbox>
					</div>
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-form-field appearance="outline">
							<mat-label>Grupo</mat-label>
							<mat-select
								formControlName="group"
								(selectionChange)="onGradeSelect($event)"
							>
								@for (group of groups; track group._id) {
									<mat-option [value]="group._id">{{
										group.name
									}}</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div style="display: flex; gap: 16px; margin-bottom: 16px">
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-form-field appearance="outline">
							<mat-label>Asignatura(s)</mat-label>
							<mat-select formControlName="subject">
								@for (subject of gradeSubjects; track $index) {
									@if (subjectLabel(subject)) {
										<mat-option [value]="subject">{{
											subjectLabel(subject)
										}}</mat-option>
									}
								}
							</mat-select>
						</mat-form-field>
					</div>
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-form-field appearance="outline">
							<mat-label>Duraci&oacute;n</mat-label>
							<mat-select formControlName="duration">
								@for (option of durationOptions; track $index) {
									<mat-option [value]="option">{{
										option
									}}</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-form-field appearance="outline">
							<mat-label>Competencias</mat-label>
							<mat-select formControlName="competence" multiple>
								@for (
									option of compentenceOptions;
									track $index
								) {
									<mat-option [value]="option">{{
										option
									}}</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>
					<div style="flex: 1 1 auto; width: 100%; max-width: 25%">
						<mat-form-field appearance="outline">
							<mat-label>Aspectos a Observar</mat-label>
							<mat-select formControlName="aspects" multiple>
								@for (aspect of aspects; track $index) {
									<mat-option [value]="aspect">{{
										aspect
									}}</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div style="display: flex; gap: 16px; margin-bottom: 16px">
					<div style="flex: 1 1 auto; width: 50%">
						<mat-form-field appearance="outline">
							<mat-label>Descripci&oacute;n</mat-label>
							<textarea
								rows="4"
								matInput
								formControlName="description"
							></textarea>
						</mat-form-field>
					</div>
					<div style="flex: 1 1 auto; width: 50%">
						<mat-form-field appearance="outline">
							<mat-label
								>Otros Aspectos (separados por comas)</mat-label
							>
							<textarea
								rows="4"
								matInput
								formControlName="customAspects"
							></textarea>
						</mat-form-field>
					</div>
				</div>
				@if (observationSheet) {
					<button
						type="button"
						(click)="print()"
						style="margin-left: auto; margin-right: 12px"
						mat-raised-button
						color="link"
					>
						Descargar
					</button>
					<button
						type="button"
						(click)="onSave()"
						style="margin-right: 12px"
						mat-raised-button
						color="primary"
					>
						Guardar
					</button>
				}
				<button
					[disabled]="sheetForm.invalid"
					mat-raised-button
					[color]="observationSheet ? 'accent' : 'primary'"
					type="submit"
				>
					@if (observationSheet) {
						Regenerar
					} @else {
						Generar
					}
				</button>
			</form>
		</div>
	</mat-card-content>
</mat-card>

@if (observationSheet) {
	<app-observation-guide
		[students]="students"
		[guide]="observationSheet"
	></app-observation-guide>
}
