.board {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.line {
    display: flex;
}

.tile {
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    aspect-ratio: 1/1;
    height: auto;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: min-content;

    td {
        border: 1px solid black;
        padding: 12px 16px;
        width: fit-content;
        text-transform: uppercase;
    }
}

.blank {
    border-bottom: 1px solid black;
    flex: 1 1 auto;
    width: 100%;
}

.page {
    width: 8in;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
}
