<h2 mat-dialog-title>Recuperar Contrase&ntilde;a</h2>

<mat-dialog-content>
	<p>
		Ingresa tu email debajo, si lo tenemos registrado, te enviaremos un
		correo para que restablezcas tu contrase&ntilde;a.
	</p>
	<mat-form-field style="margin: 12px 0; width: 100%; display: block">
		<mat-label>Email</mat-label>
		<input type="email" [formControl]="email" matInput required />
	</mat-form-field>
	<div style="display: flex; flex-direction: row-reverse; gap: 12px">
		<button
			mat-raised-button
			[disabled]="email.invalid"
			(click)="onSubmit()"
			color="primary"
		>
			Enviar
		</button>
		<button mat-raised-button color="accent" mat-dialog-close>
			Cancelar
		</button>
	</div>
</mat-dialog-content>
