<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center;">
        <h1>KitMaestro</h1>
        <p>
            Transformando la educaci&oacute;n dominicana con herramientas de automatizaci&oacute;n para maestros.
        </p>
        <img src="/assets/logo KitMaestro.png" style="width: 500px; max-width: 50vw; margin-bottom: 12px;">
        <div>
            <a mat-raised-button color="primary" href="/app">Accede Ahora</a>
        </div>
    </div>
</div>