<div class="container">
	<header class="primary-bg">
		<img src="/assets/logo KitMaestro.png" alt="Logo KitMaestro" style="margin: 0 auto; display: block; width: 128px" />
		<h2 style="margin-bottom: 0; margin-top: 0">KitMaestro</h2>
		<p style="margin-bottom: 12px">
			Planifica en 5 minutos
		</p>
		@if (user; as profile) {
			@if (!profile.firstname) {
			<p>
				Tu perfil esta incompleto, recuerda completar los datos de
				tu
				<a routerLink="/profile">perfil</a>
			</p>
			}
		}
	</header>
	<!-- @if (
		search.value === "" || (catFilter.value && catFilter.value.length > 0)
	) {
		<h3>Herramientas Favoritas</h3>
		<div class="apps-grid">
			@for (app of filteredFavorites; track $index) {
				<app-tile
					[isFav]="true"
					[app]="app"
					(markFavorite)="unmarkFavorite($event)"
				/>
			} @empty {
				<app-tile [app]="emptyApp" />
			}
		</div>
	} -->
	<!-- <h3>Todas las Herramientas</h3> -->
		@if (user; as profile) {
			@if (!profile.firstname) {
			<p style="padding: 24px; text-align: center; background-color: #f44336; color: #fff;">
				Tu perfil esta incompleto, recuerda completar los datos de
				tu
				<a style="color: #fff; font-weight: bold;" routerLink="/profile">perfil</a>
			</p>
			}
		}
	<div>
		@for (toolList of apps; track $index) {
			<h3>{{ toolList.category }}</h3>
			<div class="apps-grid">
				@for (tool of toolList.tools; track $index) {
					<app-tile [app]="tool" />
				}
			</div>
		} @empty {
			<p style="padding: 24px; text-align: center">
				No tenemos esa herramienta.<br />Considera
				<a mat-button routerLink="/ideas">Proponer la Idea</a> para que
				la integremos a la plataforma.
			</p>
		}
	</div>
</div>
