mat-form-field {
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;

	td,
	th {
		border: 1px solid #ccc;
	}
}

tbody tr:hover {
	background-color: #d7e3ff;
}

tbody td:hover {
	background-color: #005cbb;
	color: #fff;
	border-color: #005cbb;
	transform: scale(1.25);
}

.holiday,
tbody td.holiday:hover {
	transform: none;
	background-color: #d7e3ff;
	color: #d7e3ff;
	border-color: #d7e3ff !important;
}
