.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 12px;

    @media screen and (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.giant-text {
    font-size: 5em;
    font-weight: thin;
    padding: 21px;
    margin: 21px;
    text-align: center;
}

mat-card {
    cursor: pointer;
}