.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 12px;
}

.input-field {
    width: 100%;
    max-width: 100%;
    margin-top: 16px;
}

.table-container {
    overflow-x: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #f2f2f2;
    padding: 8px;
}

td {
    min-width: fit-content;
}
