<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav no-print" mode="over" [opened]="false" #sidenav>
        <mat-toolbar><span>Menu</span></mat-toolbar>
        <mat-nav-list>
            <a [activated]="activatedRoute == '/'" mat-list-item routerLink="/"><mat-icon matListItemIcon>dashboard</mat-icon>Inicio</a>
            <a [activated]="activatedRoute.includes('/app/sections')" mat-list-item routerLink="/app/sections"><mat-icon matListItemIcon>class</mat-icon> Secciones</a>
            <a [activated]="activatedRoute == '/app/unit-plans/list'" mat-list-item routerLink="/app/unit-plans/list"><mat-icon matListItemIcon>menu_book</mat-icon> Unidades de Aprendizaje</a>
            <a [activated]="activatedRoute == '/app/class-plans/list'" mat-list-item routerLink="/app/class-plans/list"><mat-icon matListItemIcon>library_books</mat-icon> Planes Diarios</a>
            <a [activated]="activatedRoute == '/app/settings'" mat-list-item routerLink="/app/settings"><mat-icon matListItemIcon>settings</mat-icon>Ajustes</a>
            <a [activated]="activatedRoute == '/app/profile'" mat-list-item routerLink="/app/profile"><mat-icon matListItemIcon>person_circle</mat-icon>Perfil</a>
            <!-- <a [activated]="activatedRoute.includes('/generators')" mat-list-item routerLink="/app/generators"><mat-icon matListItemIcon>smart_toy</mat-icon> Generadores</a> -->
            <!-- <a [activated]="activatedRoute.includes('/assistants')" mat-list-item routerLink="/app/assistants"><mat-icon matListItemIcon>precision_manufacturing</mat-icon> Asistentes</a> -->
            <ng-container *ngIf="!(subscription$ | async)">
                <a [activated]="true" *ngIf="!loading" style="margin-top: 64px;" mat-list-item routerLink="/app/buy"><mat-icon matListItemIcon>rocket</mat-icon>Comprar Subscripci&oacute;n</a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="flex-wrapper">
            <mat-toolbar color="primary" style="position: sticky; top: 0; z-index: 2000;">
                <button (click)="sidenav.toggle()" mat-icon-button><mat-icon>menu</mat-icon></button>
                <span routerLink="/" style="cursor: pointer;">Kit Maestro</span>
                <span class="spacer"></span>
                <span title="¡Motívame!" style="font-weight: lighter; font-size: 12pt; margin-right: 16px; cursor: pointer;" (click)="openQuoteDialog()" *ngIf="(userSettings$ | async) as settings">Hola, {{ settings.firstname ? settings.firstname : 'Profe' }}</span>
                <a mat-icon-button [routerLink]="['/app', 'tutorials']" style="margin-right: 6px;">
                    <mat-icon>video_library</mat-icon>
                </a>
                <a mat-icon-button [routerLink]="['/app', 'updates']" style="margin-right: 6px;">
                    <mat-icon>notifications</mat-icon>
                </a>
                <button [matMenuTriggerFor]="menu" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu>
                    <button routerLink="/app/my-resources" mat-menu-item>
                        <mat-icon>analytics</mat-icon>
                        <span>Mis Recursos</span>
                    </button>
                    <button routerLink="/app/profile" mat-menu-item>
                        <mat-icon>person_circle</mat-icon>
                        <span>Mi Perfil</span>
                    </button>
                    <button routerLink="/app/settings" mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Ajustes</span>
                    </button>
                    <button (click)="logout()" mat-menu-item>
                        <mat-icon>logout</mat-icon>
                        <span>Salir</span>
                    </button>
                </mat-menu>
            </mat-toolbar>
            <div class="print" style="height: 100vh; padding: 20px;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
