<div class="flex-wrapper">
    <mat-toolbar color="primary">
        <span routerLink="/">Kit Maestro</span>
        <span class="spacer"></span>
        <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    
    <mat-tab-group color="primary" backgroundColor="primary" headerPosition="below" class="tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>handyman</mat-icon>
            </ng-template>
            <div style="height: calc(100vh - 152px); margin: 20px; overflow-y: auto;">
                <router-outlet></router-outlet>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>settings</mat-icon>
            </ng-template>
            <ng-template matTabContent>
                <div style="height: calc(100vh - 152px); margin: 20px; overflow-y: auto;">
                    <app-user-settings></app-user-settings>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab style="background-color: #f2f2f2;">
            <ng-template mat-tab-label>
                <mat-icon>person</mat-icon>
            </ng-template>
            <div style="height: calc(100vh - 152px); margin: 20px; overflow-y: auto; padding: 6px;">
                <app-user-profile></app-user-profile>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
