<app-is-premium>
	@if (!isPrintView) {
		<mat-card>
			<mat-card-header>
				<h2 mat-card-title style="text-align: center">Opciones</h2>
			</mat-card-header>
			<mat-card-actions>
				<div style="display: flex; gap: 12px; justify-content: center">
					<button mat-raised-button color="link" (click)="goBack()">
						Volver
					</button>
					<button
						mat-raised-button
						color="warn"
						(click)="deletePlan()"
					>
						Eliminar
					</button>
					<button
						mat-raised-button
						color="accent"
						[routerLink]="['/unit-plans', planId, 'edit']"
					>
						Editar
					</button>
					<a
						mat-raised-button
						color="primary"
						href="/print-unit-plan/{{ planId }}"
						target="_blank"
						>Imprimir</a
					>
					<button
						mat-raised-button
						color="primary"
						[disabled]="printing"
						(click)="download()"
					>
						Descargar
					</button>
					<!-- <button mat-raised-button color="primary" (click)="printPlan()">Exportar PDF</button> -->
				</div>
			</mat-card-actions>
		</mat-card>
	}

	<div
		[id]="isPrintView ? 'print-view-sheet' : 'plan-sheet'"
		*ngIf="plan$ | async as plan"
	>
		@if (isPrintView) {
			<h1 style="text-align: center">{{ plan.title }}</h1>
		}
		<app-unit-plan [classPlans]="classPlans" [unitPlan]="plan" />
		@if (!isPrintView) {
			<div>
				<h2>Planes Diarios</h2>
				<ul style="list-style: none;">
					@for (dailyPlan of classPlans; track dailyPlan._id) {
						<li>
							<a [routerLink]="['/class-plans', dailyPlan._id]">
								Plan diario para el {{ dailyPlan.date | date: 'dd/MM/yyyy' }}
							</a>
						</li>
					} @empty {
						<li>No hay planes diarios asociados</li>
					}
				</ul>
			</div>
			@if (activeSubscription$ | async) {
				@if (classPlans.length === 0) {
					<h2>Generar Planes Diarios</h2>
					<app-daily-plan-batch-generator [plan]="plan" />
				}
			}
			<div style="display: none;">
				<div>
					@if (rubrics.length > 0) {
						<h2>Instrumentos de Evaluaci&oacute;n</h2>
						<ul style="list-style: none;">
							@for (rubric of rubrics; track rubric._id) {
								<li>
									<a [routerLink]="['/rubrics', rubric._id]">{{ rubric.title }}</a>
								</li>
							} @empty {
								<li>No hay instrumentos de evaluaci&oacute;n asociados</li>
							}
						</ul>
					}
				</div>
				@if (activeSubscription$ | async) {
					@if (rubrics.length == 0) {
						<h2>Generar Instrumentos</h2>
						<app-rubric-generator [unitPlan]="plan" />
					}
				}
			</div>
		}
	</div>
</app-is-premium>
