.grid-container {
    display: grid;
    width: 100%;
    gap: 16px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
    }
}