.grid-3-cols {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

mat-form-field {
    width: 100%;
    max-width: 100%;
}

select, input, textarea {
  max-width: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

td, tr, th {
    border: 1px solid #ccc;
}

td, th {
    padding: 12px;
}
