<app-is-premium minSubscriptionType="Plan Plus">
    <mat-card>
        <mat-card-header
            style="justify-content: space-between; align-items: center"
        >
            <h2 mat-card-title>Generador de Rúbricas por Lote</h2>
            <button mat-flat-button type="button" routerLink="/rubrics">
                Mis Rúbricas
            </button>
        </mat-card-header>
        <mat-card-content>
            @if (!generating) {
                <form
                    [formGroup]="rubricLotForm"
                    (ngSubmit)="onSubmit()"
                    style="margin-top: 24px"
                >
                    <p>
                        Esta herramienta generará una rúbrica para
                        <strong>cada tema</strong> disponible en la asignatura y
                        grado seleccionados.
                    </p>

                    <div class="grid-2-cols">
                        @if (sections.length) {
                            <mat-form-field appearance="outline">
                                <mat-label>Curso</mat-label>
                                <mat-select
                                    formControlName="section"
                                    (selectionChange)="onSelectSection($event)"
                                >
                                    @for (section of sections; track section._id) {
                                        <mat-option [value]="section._id">{{
                                            section.name
                                        }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        } @else {
                            @if (!loadingSections) {
                                <div>
                                    <p>
                                        Para usar esta herramienta, primero
                                        debes crear una sección.
                                    </p>
                                    <button
                                        mat-raised-button
                                        color="accent"
                                        type="button"
                                        routerLink="/sections"
                                    >
                                        Crear Sección
                                    </button>
                                </div>
                            }
                        }

                        <mat-form-field appearance="outline">
                            <mat-label>Asignatura</mat-label>
                            <mat-select formControlName="subject">
                                @for (subject of subjects; track subject) {
                                    <mat-option [value]="subject">{{
                                        subject | pretify
                                    }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de Rúbrica</mat-label>
                            <mat-select formControlName="rubricType">
                                @for (type of rubricTypes; track type.id) {
                                    <mat-option [value]="type.id">{{
                                        type.label
                                    }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div
                        style="
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 16px;
                        "
                    >
                        <h3>Niveles de Desempeño</h3>
                        <button
                            type="button"
                            mat-mini-fab
                            color="accent"
                            [disabled]="rubricLevels.controls.length > 4"
                            (click)="addRubricLevel()"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <div formArrayName="levels">
                        @for (
                            level of rubricLevels.controls;
                            track $index;
                            let i = $index
                        ) {
                            <div class="level-row">
                                <mat-form-field appearance="outline">
                                    <mat-label
                                        >Nivel #{{ i + 1 }}</mat-label
                                    >
                                    <input [formControlName]="i" matInput />
                                </mat-form-field>
                                <button
                                    (click)="deleteLevel(i)"
                                    type="button"
                                    mat-mini-fab
                                    color="warn"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        }
                    </div>

                    <div style="text-align: end; margin-top: 20px">
                        <button
                            type="submit"
                            [disabled]="rubricLotForm.invalid"
                            mat-raised-button
                            color="primary"
                        >
                            Generar Rúbricas
                        </button>
                    </div>
                </form>
            } @else {
                <div class="spinner-container">
                    <mat-progress-spinner
                        mode="indeterminate"
                    ></mat-progress-spinner>
                    <h3>Generando rúbricas, por favor espera...</h3>
                    <p>
                        Este proceso puede tardar varios minutos dependiendo de
                        la cantidad de temas.
                    </p>
                    <mat-card style="width: 100%; max-width: 600px">
                        <mat-card-content>
                            <h4>Progreso:</h4>
                            @for (status of generationStatus; track status) {
                                <div>{{ status }}</div>
                            }
                        </mat-card-content>
                    </mat-card>
                </div>
            }
        </mat-card-content>
    </mat-card>
</app-is-premium>