<app-is-premium>
    <mat-card>
        <mat-card-header>
            <h2 mat-card-title style="margin-top: 8px;">Mis Referidos</h2>
            <a class="desktop" target="_blank" [disabled]="!refCode" [href]="waShareableLink" mat-icon-button color="success" style="margin-left: auto;" title="Compartir mi Enlace">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a class="mobile" target="_blank" [disabled]="!refCode" [href]="waMobileShareableLink" mat-icon-button color="success" style="margin-left: auto;" title="Compartir mi Enlace">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a target="_blank" [disabled]="!refCode" [href]="tgShareableLink" mat-icon-button color="success" style="margin-left: 12px;" title="Compartir mi Enlace">
                <i class="bi bi-telegram"></i>
            </a>
        </mat-card-header>
    </mat-card>

    <div class="card-grid">
        <mat-card>
            <mat-card-header>
                <h2 style="margin-left: auto; margin-right: auto;">Referidos Este Mes</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="giant">{{refs.thisMonth}}</div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <h2 style="margin-left: auto; margin-right: auto;">Anteriores</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="giant">{{refs.before}}</div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <h2 style="margin-left: auto; margin-right: auto;">Pendientes</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="giant">{{refs.pending}}</div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <h2 style="margin-left: auto; margin-right: auto;">Pagados</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="giant">{{refs.paid}}</div>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="card-grid-2">
        <mat-card>
            <mat-card-header>
                <h2 style="margin-left: auto; margin-right: auto;">Usuarios Referidos</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="giant">{{refs.before + refs.thisMonth}}</div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <h2 style="margin-left: auto; margin-right: auto;">Comisiones Ganadas</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="giant">{{(refs.paid + refs.pending) * 9.99 | currency}}</div>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="margin-top: 24px;" class="shadow">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Ya compr&oacute; Premium?</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @for(sub of referries; track $index) {
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{users[sub.uid].trim() || '-- Cuenta sin Configurar --'}}</td>
                        <td>{{sub.active ? 'Sí' : 'No'}}</td>
                        <td>{{sub.active && sub.trial ? 'Periodo de Prueba' : sub.active && sub.paidRef ? 'Pagado' : sub.active && !sub.paidRef ? 'Pendiente de pago' : 'No suscrito'}}</td>
                    </tr>
                } @empty {
                  <tr>
                    <td colspan="4" style="text-align: center;">
                      <h3>No tienes referidos todav&iacute;a</h3>
                      <p>Aseg&uacute;rate de que tus referidos entren con tu link para que te sean asignados.</p>
                    </td>
                  </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="height: 32px;"></div>
</app-is-premium>
