.giant {
    font-size: 5em;
    text-align: center;
    padding: 24px;
}

.card-grid {
    display: grid;
    gap: 16px;
    margin-top: 24px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.shadow {
    box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
}

table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}
