.apps-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-right: 12px;

    @media screen and (max-width: 720px) {
        h2 {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 480px) {
        grid-template-columns: 50% 50%;
    }

    @media screen and (min-width: 720px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.app-card {
    cursor: pointer;
    margin-bottom: 16px;
}

.app-icon {
    width: 75%;
    margin: 16px auto;
    display: block;
}

.is-premium-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

p {
    font-size: 14px;
    color: gray;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}