.apps-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;

    @media screen and (min-width: 720px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.app-card {
    cursor: pointer;
}

.app-icon {
    width: 75%;
    margin: 12px auto;
    display: block;
}

.is-premium-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

p {
    font-size: 14px;
    color: gray;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}