<div class="container">
  <div style="text-align: center; margin-top: 24px;">
    <img src="/assets/logo KitMaestro.png" alt="Logo KitMaestro" style="margin: 0 auto; display: block; width: 128px;">
    <h2 style="margin-bottom: 0; margin-top: 0;">KitMaestro</h2>
    <p style="margin-top: 0; margin-bottom: 12px;">La caja de herramientas definitiva</p>
    @if (user && user.firstname) {
      <p>¡{{ user.gender == 'Mujer' ? 'Bienvenida' : 'Bienvenido' }}, {{user.firstname}}!</p>
    } @else {
      <p>Tu perfil esta incompleto, recuerda completar los datos de tu <a routerLink="/profile">perfil</a></p>
    }
    <div class="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input type="search" autofocus [formControl]="search" placeholder="Buscar Herramienta" matInput>
      </mat-form-field>
    </div>
  </div>
  <div>
    <mat-chip-listbox [formControl]="catFilter" multiple (change)="onCategoriesChange($event)">
      @for (category of categories; track category) {
        <mat-chip-option>{{category}}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  @if (!search.value || catFilter.value?.length > 0) {
    <h3>Herramientas Favoritas</h3>
    <div class="apps-grid">
      @for (app of favorites; track $index) {
        <app-tile [isFav]="true" [app]="app" (markFavorite)="unmarkFavorite($event)" />
      } @empty {
        <app-tile [app]="emptyApp" />
      }
    </div>
  }
  <h3>Todas las Herramientas</h3>
  <div class="apps-grid">
    @if (search.value || catFilter.value) {
      @for (app of filteredApps; track $index) {
        <app-tile [app]="app" [isFav]="favorites.includes(app)" />
      } @empty {
          <p style="padding: 24px; text-align: center;">No tenemos esa herramienta.<br />Considera <a mat-button routerLink="/ideas">Proponer la Idea</a> para que la integremos a la plataforma.</p>
      }
    } @else {
      @for (app of apps; track $index) {
        <app-tile [app]="app" [isFav]="isAFav(app)" (markFavorite)="markFavorite($event)" />
      }
    }
  </div>
</div>
