.apps-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media screen and (max-width: 720px) {
        h2 {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.app-icon {
  display: block;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 auto 12px;
  max-width: 33.33%;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}

.app-card {
    cursor: pointer;
    margin-bottom: 16px;
}

.pro {
  border-color: #ffd740;
}

.free {
  border-color: #673ab7;
}

.incomplete {
  -webkit-box-shadow: 0px 0px 21px 8px rgba(244, 67, 54, 0.61);
  -moz-box-shadow: 0px 0px 21px 8px rgba(244, 67, 54, 0.61);
  box-shadow: 0px 0px 21px 8px rgba(244, 67, 54, 0.61);
  // border: 2px solid #f44336;
}

.app-icon {
    width: 75%;
    margin: 16px auto;
    display: block;
    aspect-ratio: 1/1;
}

.is-premium-icon {
    position: absolute;
    top: 12px;
    right: 0;
    transform: translate(50%, -50%);
}

p {
    font-size: 14px;
    color: gray;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}
