<div class="apps-grid">
  @for (app of apps; track $index) {
    <a [routerLink]="app.link" class="app-card">
      <mat-card class="card">
        <mat-card-content>
          <div class="inner-grid">
            <img
              [src]="app.icon"
              [alt]="app.name"
              [matTooltip]="!app.isWorking ? 'Este módulo todavía no está totalmente listo y puede contener errores.' : ''"
            >
            <div>
              <p style="font-weight: bold;">{{app.name}}</p>
              <p>{{app.description}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </a>
  }
</div>
