<div class="apps-grid">
    <div *ngFor="let row of layout">
        <mat-card class="app-card" *ngFor="let app of row" [routerLink]="app.link">
            <mat-card-content>
                <img [src]="app.icon" class="app-icon" alt="">
                <div style="display: flex; align-items: center;">
                    <h2 mat-card-title>{{app.name}}</h2>
                    @if (!app.isWorking) {
                        <mat-icon color="warn" style="margin-left: 12px; margin-bottom: auto; margin-top: 4px;" matTooltip="Este módulo todavía no está totalmente listo y puede contener errores.">warning</mat-icon>
                    }
                </div>
                <p>{{app.description}}</p>
                <mat-icon color="accent" class="is-premium-icon" *ngIf="app.premium; else free">star</mat-icon>
                <ng-template #free>
                    <mat-icon color="primary" class="is-premium-icon">verified</mat-icon>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>
