<h2 mat-dialog-title>Actualizar Perfil</h2>
<mat-dialog-content *ngIf="user$ | async as user">
    <input type="file" [multiple]="false" #upload style="display: none;" (change)="uploadPic(upload)">
    <div class="img-container">
        <img [src]="user.photoURL ? user.photoURL : '/assets/profile.svg'" alt="">
        <button (click)="upload.click()" mat-mini-fab color="primary">
            <ng-container *ngIf="saving; else iddle">Guardando ...</ng-container>
            <ng-template #iddle>
                <mat-icon *ngIf="!saving">edit</mat-icon>
            </ng-template>
        </button>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Nombre de Usuario</mat-label>
            <input type="text" formControlName="displayName" matInput>
        </mat-form-field>
        <div class="submit-grid">
            <button type="submit" [disabled]="profileForm.invalid" mat-raised-button color="primary">Actualizar Nombre</button>
        </div>
    </form>
</mat-dialog-content>