<app-is-premium>
    <mat-card>
        <mat-card-content>
            <h2 style="text-align: center;">Opciones</h2>
            <div style="display: flex; justify-content: space-around; gap: 12px;">
                <button type="button" mat-raised-button color="link" (click)="goBack()">Volver</button>
                <button type="button" mat-raised-button color="accent" [routerLink]="['/app', 'class-plans', planId, 'edit']">Editar</button>
                <button type="button" mat-raised-button color="primary" (click)="printPlan()">Descargar PDF</button>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="shadow" *ngIf="(plan$ | async) as plan">
        <div class="page" id="class-plan">
            <table style="border-collapse: collapse; border: 1px solid gray; background-color: white; width: 100%;">
                <thead>
                    <tr *ngIf="(settings$ | async) as user">
                        <td style="width: 160px;"><b>Fecha</b>: {{plan.date}}</td>
                        <td style="width: 280px;"><b>Grado y Sección</b>: {{plan.sectionName}}</td>
                        <td><b>Docente</b>: {{user.title}}. {{user.firstname}}
                            {{user.lastname}}</td>
                        <td colspan="2"><b>Área Curricular</b>: {{pretify(plan.subject || '')}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>Estrategias y técnicas de enseñanza-aprendizaje</b>:
                            {{plan.estrategias.join(', ')}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>Intencion Pedag&oacute;gica</b>: {{plan.intencion_pedagogica}}</td>
                    </tr>
                    <tr>
                        <th>Momento / Duración</th>
                        <th style="width: 18%;">Competencias Especificas</th>
                        <th>Actividades</th>
                        <th style="width: 18%;">Organización de los Estudiantes</th>
                        <th style="width: 15%;">Recursos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Inicio</b> ({{plan.inicio.duracion}} Minutos)</td>
                        <td rowspan="4">{{plan.competencia}}</td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (actividad of plan.inicio.actividades; track actividad) {
                                <li>{{actividad}}</li>
                                }
                            </ul>
                        </td>
                        <td>
                            {{plan.inicio.layout}}
                        </td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (recurso of plan.inicio.recursos_necesarios; track recurso) {
                                <li>- {{recurso}}</li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Desarrollo</b> ({{plan.desarrollo.duracion}} Minutos)</td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (actividad of plan.desarrollo.actividades; track actividad) {
                                <li>{{actividad}}</li>
                                }
                            </ul>
                        </td>
                        <td>
                            {{plan.desarrollo.layout}}
                        </td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (recurso of plan.desarrollo.recursos_necesarios; track recurso) {
                                <li>- {{recurso}}</li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Cierre</b> ({{plan.cierre.duracion}} Minutos)</td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (actividad of plan.cierre.actividades; track actividad) {
                                <li>{{actividad}}</li>
                                }
                            </ul>
                        </td>
                        <td>
                            {{plan.cierre.layout}}
                        </td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (recurso of plan.cierre.recursos_necesarios; track recurso) {
                                <li>- {{recurso}}</li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Actividades Complementarias</b></td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (actividad of plan.complementarias.actividades; track actividad) {
                                <li>{{actividad}}</li>
                                }
                            </ul>
                        </td>
                        <td>
                            {{plan.complementarias.layout}}
                        </td>
                        <td>
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                @for (recurso of plan.complementarias.recursos_necesarios; track recurso) {
                                <li>- {{recurso}}</li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>Vocabulario del día/de la semana</b>: {{plan.vocabulario.join(', ')}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>Lecturas recomendadas/ o libro de la semana</b>:
                            {{plan.lectura_recomendada}}</td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>Observaciones</b>:</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-is-premium>
