<app-is-premium>
    <mat-card style="margin-bottom: 24px;" class="mat-elevation-z8">
        <mat-card-header>
            <h2 mat-card-ittle>Generador de Aspectos Trabajados</h2>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="generatorForm" (ngSubmit)="onSubmit()">
                <div class="fields-grid col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Nivel</mat-label>
                        <mat-select formControlName="level">
                            @for (level of levels; track $index) {
                                <mat-option [disabled]="level != 'Primaria'" [value]="level">{{level}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Grado</mat-label>
                        <mat-select formControlName="grade">
                            @for (grade of grades; track $index) {
                                <mat-option [value]="$index">{{grade}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Asignatura</mat-label>
                        <mat-select formControlName="subject">
                            @for (subject of subjects; track $index) {
                                <mat-option [value]="subject">{{subject}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Aspectos Deseados</mat-label>
                        <input type="number" min="1" max="25" matInput formControlName="qty">
                    </mat-form-field>
                </div>
                <div class="fields-grid col-4">
                    <mat-form-field appearance="outline">
                        <mat-label>P1</mat-label>
                        <mat-select multiple formControlName="p1">
                            @for (content of contents; track $index) {
                                <mat-option [value]="content">{{content}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>P2</mat-label>
                        <mat-select multiple formControlName="p2">
                            @for (content of contents; track $index) {
                                <mat-option [value]="content">{{content}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>P3</mat-label>
                        <mat-select multiple formControlName="p3">
                            @for (content of contents; track $index) {
                                <mat-option [value]="content">{{content}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>P4</mat-label>
                        <mat-select multiple formControlName="p4">
                            @for (content of contents; track $index) {
                                <mat-option [value]="content">{{content}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: flex-end;">
                    <button (click)="reset()" style="margin-right: 12px;" mat-raised-button color="accent" type="button">Reiniciar</button>
                    <button [disabled]="generatorForm.invalid || loading || generating" mat-raised-button color="primary" type="submit">{{ generating ? 'Generando' : (generated ? 'Reg' : 'G') + 'enerar'}}</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    @if (dataSource.length > 0) {
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding-bottom: 12px;">
            <ng-container matColumnDef="p1">
                <th mat-header-cell *matHeaderCellDef> Periodo 1 </th>
                <td mat-cell *matCellDef="let element"> {{element.p1}} </td>
            </ng-container>
            
            <ng-container matColumnDef="p2">
                <th mat-header-cell *matHeaderCellDef> Periodo 2 </th>
                <td mat-cell *matCellDef="let element"> {{element.p2}} </td>
            </ng-container>
            
            <ng-container matColumnDef="p3">
                <th mat-header-cell *matHeaderCellDef> Periodo 3 </th>
                <td mat-cell *matCellDef="let element"> {{element.p3}} </td>
            </ng-container>
            
            <ng-container matColumnDef="p4">
                <th mat-header-cell *matHeaderCellDef> Periodo 4 </th>
                <td mat-cell *matCellDef="let element"> {{element.p4}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    }
</app-is-premium>

<!-- <ul>
    @for(p of prompts; track $index) { <li>{{p}}</li> }
</ul> -->